<div class="component-wrapper component-bg">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card">
        <div class="card-body p-5 text-center">
          <ng-container [ngSwitch]="formType">
            <ng-container *ngSwitchCase="FormType.LOGIN">
              <form ngbAutofocus #userLoginForm="ngForm">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                  <p class="mb-5">Please enter your credentials</p>
                  <div [className]="ModalUtils.displayMarginFor(loginEmailInput)">
                    <div class="text-start">
                      <label for="login-email">Email or login</label>
                      <span class="text-danger">*</span>
                    </div>
                    <input
                      type="text"
                      id="login-email"
                      name="login-email"
                      class="form-control"
                      [(ngModel)]="loginForm.emailOrLogin"
                      [disabled]="loaders.login"
                      required
                      minlength="{{ formConfig.loginForm.emailOrLogin.minLength }}"
                      maxlength="{{ formConfig.loginForm.emailOrLogin.maxLength }}"
                      pattern="{{formConfig.regex.loginOrEmail}}"
                      #loginEmailInput="ngModel"
                      [ngClass]="{
                        'is-invalid': loginEmailInput.invalid &&
                        (loginEmailInput.dirty || loginEmailInput.touched),
                        'is-valid': loginEmailInput.valid }"/>
                    @if (loginEmailInput.invalid &&
                    (loginEmailInput.dirty || loginEmailInput.touched)) {
                      <div class="invalid-feedback text-start d-grid">
                        <label *ngIf="loginEmailInput.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="loginEmailInput.errors?.['pattern']">
                          {{ formatString(formConfig.messages.invalid, "Email or login") }}
                        </label>
                        <label *ngIf="loginEmailInput.errors?.['minlength']">
                          {{ formatString(formConfig.messages.minLength, formConfig.loginForm.emailOrLogin.minLength) }}
                        </label>
                        <label *ngIf="loginEmailInput.errors?.['maxlength']">
                          {{ formatString(formConfig.messages.maxLength, formConfig.loginForm.emailOrLogin.maxLength) }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback"></div>
                    }
                  </div>
                  <div [className]="ModalUtils.displayMarginFor(loginPasswordInput)">
                    <div class="text-start">
                      <label for="login-password">Password</label>
                      <span class="text-danger">*</span>
                    </div>
                    <div class="input-group">
                      <input
                        [type]="showPassword ? 'text' : 'password'"
                        id="login-password"
                        name="login-password"
                        class="form-control"
                        [(ngModel)]="loginForm.password"
                        [disabled]="loaders.login"
                        required
                        minlength="{{ formConfig.loginForm.password.minLength }}"
                        maxlength="{{ formConfig.loginForm.password.maxLength }}"
                        #loginPasswordInput="ngModel"
                        [ngClass]="{
                        'is-invalid': loginPasswordInput.invalid &&
                        (loginPasswordInput.dirty || loginPasswordInput.touched),
                        'is-valid': loginPasswordInput.valid }"/>
                      <div class="input-group-append">
                        <span class="input-group-text"
                              (click)="onPasswordDisplay()">
                          <ng-template [ngIf]="showPassword"
                                       [ngIfElse]="hide">
                            <i class="bi bi-eye-slash"></i>
                          </ng-template>
                          <ng-template #hide>
                            <i class="bi bi-eye"></i>
                          </ng-template>
                        </span>
                      </div>
                    </div>
                    @if (loginPasswordInput.invalid &&
                    (loginPasswordInput.dirty || loginPasswordInput.touched)) {
                      <div class="invalid-feedback text-start d-grid">
                        <label *ngIf="loginPasswordInput.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="loginPasswordInput.errors?.['minlength']">
                          {{ formatString(formConfig.messages.minLength, formConfig.loginForm.password.minLength) }}
                        </label>
                        <label *ngIf="loginPasswordInput.errors?.['maxlength']">
                          {{ formatString(formConfig.messages.maxLength, formConfig.loginForm.password.maxLength) }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback"></div>
                    }
                  </div>
                  <p class="small mb-5 pb-lg-2">
                    <ng-template [ngIf]="!loaders.login">
                      <a class="forgot-pass"
                         (click)="formType = FormType.RESET_PASSWORD">
                        Forgot password?
                      </a>
                    </ng-template>
                  </p>
                  <ng-template [ngIf]="!loaders.login"
                               [ngIfElse]="displayLoginLoader">
                    <button class="btn btn-outline-secondary btn-lg px-5"
                            type="button"
                            [disabled]="!userLoginForm.valid"
                            (click)="login()">
                      Login
                    </button>
                  </ng-template>
                  <ng-template #displayLoginLoader>
                    <button type="button"
                            class="btn btn-outline-secondary btn-lg px-5"
                            [disabled]="loaders.login">
                      <app-spinner [size]="SpinnerSize.SMALL"></app-spinner>
                    </button>
                  </ng-template>
                </div>
                <p class="mb-0">
                  Don't have an account?
                </p>
                <button type="button"
                        class="btn btn-outline-secondary"
                        routerLink="/register"
                        [disabled]="loaders.login">
                  Sign Up
                </button>
                <app-otp-modal #otpModal
                               (closedModalEvent)="this.loaders.login = !$event">

                </app-otp-modal>
              </form>
            </ng-container>
            <ng-container *ngSwitchCase="FormType.RESET_PASSWORD">
              <form #resetPasswordForm="ngForm">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">Reset password</h2>
                  <p class="mb-5">Please enter email and login</p>
                  <div [className]="ModalUtils.displayMarginFor(resetEmailInput)">
                    <div class="text-start">
                      <label for="reset-email">Email</label>
                      <span class="text-danger">*</span>
                    </div>
                    <input
                      type="email"
                      id="reset-email"
                      name="reset-email"
                      class="form-control"
                      [(ngModel)]="resetPassForm.email"
                      [disabled]="loaders.reset"
                      required
                      minlength="{{ formConfig.loginForm.emailOrLogin.minLength }}"
                      maxlength="{{ formConfig.loginForm.emailOrLogin.maxLength }}"
                      pattern="{{formConfig.regex.email}}"
                      #resetEmailInput="ngModel"
                      [ngClass]="{
                        'is-invalid': resetEmailInput.invalid &&
                        (resetEmailInput.dirty || resetEmailInput.touched),
                        'is-valid': resetEmailInput.valid }"/>
                    @if (resetEmailInput.invalid &&
                    (resetEmailInput.dirty || resetEmailInput.touched)) {
                      <div class="invalid-feedback text-start d-grid">
                        <label *ngIf="resetEmailInput.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="resetEmailInput.errors?.['pattern']">
                          {{ formatString(formConfig.messages.invalid, "Email") }}
                        </label>
                        <label *ngIf="resetEmailInput.errors?.['minlength']">
                          {{ formatString(formConfig.messages.minLength, formConfig.loginForm.emailOrLogin.minLength) }}
                        </label>
                        <label *ngIf="resetEmailInput.errors?.['maxlength']">
                          {{ formatString(formConfig.messages.maxLength, formConfig.loginForm.emailOrLogin.maxLength) }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback"></div>
                    }
                  </div>
                  <div [className]="ModalUtils.displayMarginFor(resetLoginInput)">
                    <div class="text-start">
                      <label for="reset-login">Login</label>
                      <span class="text-danger">*</span>
                    </div>
                    <input
                      type="text"
                      id="reset-login"
                      name="reset-login"
                      class="form-control"
                      [(ngModel)]="resetPassForm.login"
                      [disabled]="loaders.reset"
                      required
                      minlength="{{ formConfig.loginForm.emailOrLogin.minLength }}"
                      maxlength="{{ formConfig.loginForm.emailOrLogin.maxLength }}"
                      pattern="{{formConfig.regex.loginOrEmail}}"
                      #resetLoginInput="ngModel"
                      [ngClass]="{
                        'is-invalid': resetLoginInput.invalid &&
                        (resetLoginInput.dirty || resetLoginInput.touched),
                        'is-valid': resetLoginInput.valid }"/>
                    @if (resetLoginInput.invalid &&
                    (resetLoginInput.dirty || resetLoginInput.touched)) {
                      <div class="invalid-feedback text-start d-grid">
                        <label *ngIf="resetLoginInput.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="resetLoginInput.errors?.['pattern']">
                          {{ formatString(formConfig.messages.invalid, "Login") }}
                        </label>
                        <label *ngIf="resetLoginInput.errors?.['minlength']">
                          {{ formatString(formConfig.messages.minLength, formConfig.loginForm.emailOrLogin.minLength) }}
                        </label>
                        <label *ngIf="resetLoginInput.errors?.['maxlength']">
                          {{ formatString(formConfig.messages.maxLength, formConfig.loginForm.emailOrLogin.maxLength) }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback"></div>
                    }
                  </div>
                  <ng-template [ngIf]="!loaders.reset"
                               [ngIfElse]="displayResetLoader">
                    <button type="button"
                            class="btn btn-outline-secondary btn-lg px-5"
                            (click)="resetPassword();"
                            [disabled]="!resetPasswordForm.valid || loaders.reset">
                      Reset
                    </button>
                  </ng-template>
                  <ng-template #displayResetLoader>
                    <button type="button"
                            class="btn btn-outline-secondary btn-lg px-5"
                            [disabled]="loaders.reset">
                      <app-spinner [size]="SpinnerSize.SMALL"></app-spinner>
                    </button>
                  </ng-template>
                </div>
                <div class="mb-3">
                  <p class="mb-0">
                    You have already account?
                  </p>
                  <button type="button"
                          class="btn btn-outline-secondary"
                          (click)="formType = FormType.LOGIN"
                          [disabled]="loaders.reset">
                    Login Page
                  </button>
                </div>
                <p class="mb-0">
                  You have already requested password change?
                </p>
                <button type="button"
                        class="btn btn-outline-secondary"
                        (click)="formType = FormType.SET_PASSWORD; setPassParam=true;"
                        [disabled]="loaders.reset">
                  Set Password
                </button>
              </form>
            </ng-container>
            <ng-container *ngSwitchCase="FormType.SET_PASSWORD">
              <form ngbAutofocus #userSetPassword="ngForm">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">Set password</h2>
                  <ng-template [ngIf]="setPassParam"
                               [ngIfElse]="displayWithoutEmailAndLogin">
                    <p class="mb-5">Please enter your details, new password and confirmation password from email</p>
                  </ng-template>
                  <ng-template #displayWithoutEmailAndLogin>
                    <p class="mb-5">Please enter new password and confirmation password form email</p>
                  </ng-template>
                  <div [style]="displayInput() ? '' : 'display:none'">
                    <div [className]="ModalUtils.displayMarginFor(setPassEmailInput)">
                      <div class="text-start">
                        <label for="set-pass-email">Email</label>
                        <span class="text-danger">*</span>
                      </div>
                      <input
                        type="email"
                        id="set-pass-email"
                        name="set-pass-email"
                        class="form-control"
                        [(ngModel)]="resetPassForm.email"
                        [disabled]="loaders.setPass"
                        [required]="displayInput()"
                        minlength="{{ formConfig.loginForm.emailOrLogin.minLength }}"
                        maxlength="{{ formConfig.loginForm.emailOrLogin.maxLength }}"
                        pattern="{{formConfig.regex.email}}"
                        #setPassEmailInput="ngModel"
                        [ngClass]="{
                        'is-invalid': setPassEmailInput.invalid &&
                        (setPassEmailInput.dirty || setPassEmailInput.touched),
                        'is-valid': setPassEmailInput.valid }"/>
                      @if (setPassEmailInput.invalid &&
                      (setPassEmailInput.dirty || setPassEmailInput.touched)) {
                        <div class="invalid-feedback text-start d-grid">
                          <label *ngIf="setPassEmailInput.errors?.['required']">
                            {{ formConfig.messages.required }}
                          </label>
                          <label *ngIf="setPassEmailInput.errors?.['pattern']">
                            {{ formatString(formConfig.messages.invalid, "Email") }}
                          </label>
                          <label *ngIf="setPassEmailInput.errors?.['minlength']">
                            {{ formatString(formConfig.messages.minLength, formConfig.loginForm.emailOrLogin.minLength) }}
                          </label>
                          <label *ngIf="setPassEmailInput.errors?.['maxlength']">
                            {{ formatString(formConfig.messages.maxLength, formConfig.loginForm.emailOrLogin.maxLength) }}
                          </label>
                        </div>
                      } @else {
                        <div class="valid-feedback"></div>
                      }
                    </div>
                    <div [className]="ModalUtils.displayMarginFor(setPassLoginInput)">
                      <div class="text-start">
                        <label for="reset-login">Login</label>
                        <span class="text-danger">*</span>
                      </div>
                      <input
                        type="text"
                        id="set-pass-login"
                        name="set-pass-login"
                        class="form-control"
                        [(ngModel)]="resetPassForm.login"
                        [disabled]="loaders.setPass"
                        [required]="displayInput()"
                        minlength="{{ formConfig.loginForm.emailOrLogin.minLength }}"
                        maxlength="{{ formConfig.loginForm.emailOrLogin.maxLength }}"
                        pattern="{{formConfig.regex.loginOrEmail}}"
                        #setPassLoginInput="ngModel"
                        [ngClass]="{
                        'is-invalid': setPassLoginInput.invalid &&
                        (setPassLoginInput.dirty || setPassLoginInput.touched),
                        'is-valid': setPassLoginInput.valid }"/>
                      @if (setPassLoginInput.invalid &&
                      (setPassLoginInput.dirty || setPassLoginInput.touched)) {
                        <div class="invalid-feedback text-start d-grid">
                          <label *ngIf="setPassLoginInput.errors?.['required']">
                            {{ formConfig.messages.required }}
                          </label>
                          <label *ngIf="setPassLoginInput.errors?.['pattern']">
                            {{ formatString(formConfig.messages.invalid, "Login") }}
                          </label>
                          <label *ngIf="setPassLoginInput.errors?.['minlength']">
                            {{ formatString(formConfig.messages.minLength, formConfig.loginForm.emailOrLogin.minLength) }}
                          </label>
                          <label *ngIf="setPassLoginInput.errors?.['maxlength']">
                            {{ formatString(formConfig.messages.maxLength, formConfig.loginForm.emailOrLogin.maxLength) }}
                          </label>
                        </div>
                      } @else {
                        <div class="valid-feedback"></div>
                      }
                    </div>
                  </div>
                  <div [className]="ModalUtils.displayMarginFor(setPasswordInput)">
                    <div class="text-start">
                      <label for="register-password">Password</label>
                      <span class="text-danger">*</span>
                    </div>
                    <div class="input-group">
                      <input
                        [type]="showPassword ? 'text' : 'password'"
                        id="register-password"
                        name="register-password"
                        class="form-control"
                        [(ngModel)]="setPassForm.newPassword"
                        [disabled]="loaders.setPass"
                        (ngModelChange)="passwordUtil.testPasswords(setPasswordInput, setPassRepeatInput)"
                        required
                        #setPasswordInput="ngModel"
                        [ngClass]="{
                        'is-invalid': setPasswordInput.invalid &&
                        (setPasswordInput.dirty || setPasswordInput.touched),
                        'is-valid': setPasswordInput.valid }"/>
                      <div class="input-group-append">
                        <span class="input-group-text"
                              (click)="onPasswordDisplay()">
                          <ng-template [ngIf]="showPassword"
                                       [ngIfElse]="hide">
                            <i class="bi bi-eye-slash"></i>
                          </ng-template>
                          <ng-template #hide>
                            <i class="bi bi-eye"></i>
                          </ng-template>
                        </span>
                      </div>
                    </div>
                    @if (setPasswordInput.invalid &&
                    (setPasswordInput.dirty || setPasswordInput.touched)) {
                      <div class="invalid-feedback text-start d-grid">
                        <label *ngIf="setPasswordInput.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="setPasswordInput.errors?.['pattern']">
                          {{ formConfig.messages.passTooWeak }}
                        </label>
                        <label *ngIf="setPasswordInput.errors?.['passNotMatch']">
                          {{ formConfig.messages.passNotMatch }}
                        </label>
                        <label *ngIf="setPasswordInput.errors?.['minlength']">
                          {{ formatString(formConfig.messages.minLength, formConfig.registerForm.password.minLength) }}
                        </label>
                        <label *ngIf="setPasswordInput.errors?.['maxlength']">
                          {{ formatString(formConfig.messages.maxLength, formConfig.registerForm.password.maxLength) }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback"></div>
                    }
                  </div>
                  <ul class="text-start text-danger mb-4">
                    <li [style]="passwordUtil.hasSpecialCharacter(setPassForm.newPassword) ? 'display: none' : ''">
                      Password should have special character
                    </li>
                    <li [style]="passwordUtil.hasSmallCharacters(setPassForm.newPassword) ? 'display: none' : ''">
                      Password should have 3 small characters
                    </li>
                    <li [style]="passwordUtil.hasBigCharacters(setPassForm.newPassword) ? 'display: none' : ''">
                      Password should have 2 upper characters
                    </li>
                    <li [style]="passwordUtil.hasNumbers(setPassForm.newPassword) ? 'display: none' : ''">
                      Password should have 2 numbers
                    </li>
                  </ul>
                  <div [className]="ModalUtils.displayMarginFor(setPassRepeatInput)">
                    <div class="text-start">
                      <label for="register-password-repeat">Repeat password</label>
                      <span class="text-danger">*</span>
                    </div>
                    <div class="input-group">
                      <input
                        [type]="showPassword ? 'text' : 'password'"
                        id="register-password-repeat"
                        name="register-password-repeat"
                        class="form-control"
                        [(ngModel)]="repeatPassword"
                        [disabled]="loaders.setPass"
                        (ngModelChange)="passwordUtil.testPasswords(setPasswordInput, setPassRepeatInput)"
                        required
                        #setPassRepeatInput="ngModel"
                        [ngClass]="{
                        'is-invalid': setPassRepeatInput.invalid &&
                        (setPassRepeatInput.dirty || setPassRepeatInput.touched),
                        'is-valid': setPassRepeatInput.valid }"/>
                      <div class="input-group-append">
                        <span class="input-group-text"
                              (click)="onPasswordDisplay()">
                          <ng-template [ngIf]="showPassword"
                                       [ngIfElse]="hide">
                            <i class="bi bi-eye-slash"></i>
                          </ng-template>
                          <ng-template #hide>
                            <i class="bi bi-eye"></i>
                          </ng-template>
                        </span>
                      </div>
                    </div>
                    @if (setPassRepeatInput.invalid &&
                    (setPassRepeatInput.dirty || setPassRepeatInput.touched)) {
                      <div class="invalid-feedback text-start d-grid">
                        <label *ngIf="setPassRepeatInput.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="setPassRepeatInput.errors?.['pattern']">
                          {{ formConfig.messages.passTooWeak }}
                        </label>
                        <label *ngIf="setPassRepeatInput.errors?.['passNotMatch']">
                          {{ formConfig.messages.passNotMatch }}
                        </label>
                        <label *ngIf="setPassRepeatInput.errors?.['minlength']">
                          {{ formatString(formConfig.messages.minLength, formConfig.registerForm.password.minLength) }}
                        </label>
                        <label *ngIf="setPassRepeatInput.errors?.['maxlength']">
                          {{ formatString(formConfig.messages.maxLength, formConfig.registerForm.password.maxLength) }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback"></div>
                    }
                  </div>
                  <div [className]="ModalUtils.displayMarginFor(tempPassword)">
                    <div class="text-start">
                      <label for="temp-password-repeat">Temporary password</label>
                      <span class="text-danger">*</span>
                    </div>
                    <div class="input-group">
                      <input
                        type="text"
                        id="temp-password-repeat"
                        name="temp-password-repeat"
                        class="form-control"
                        [(ngModel)]="setPassForm.challangePassword"
                        [disabled]="loaders.setPass"
                        required
                        #tempPassword="ngModel"
                        minlength="{{formConfig.temporaryPassword.minLength}}"
                        maxlength="{{formConfig.temporaryPassword.maxLength}}"
                        [ngClass]="{
                        'is-invalid': tempPassword.invalid &&
                        (tempPassword.dirty || tempPassword.touched),
                        'is-valid': tempPassword.valid }"/>
                    </div>
                    @if (tempPassword.invalid &&
                    (tempPassword.dirty || tempPassword.touched)) {
                      <div class="invalid-feedback text-start d-grid">
                        <label *ngIf="tempPassword.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="tempPassword.errors?.['minlength']">
                          {{ formatString(formConfig.messages.minLength, formConfig.temporaryPassword.minLength) }}
                        </label>
                        <label *ngIf="tempPassword.errors?.['maxlength']">
                          {{ formatString(formConfig.messages.maxLength, formConfig.temporaryPassword.maxLength) }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback"></div>
                    }
                  </div>
                  <ng-template [ngIf]="!loaders.setPass"
                               [ngIfElse]="displaySetPassLoader">
                    <button type="button"
                            class="btn btn-outline-secondary btn-lg px-5"
                            (click)="setNewPassword();"
                            [disabled]="!userSetPassword.valid || loaders.setPass">
                      Set
                    </button>
                  </ng-template>
                  <ng-template #displaySetPassLoader>
                    <button type="button"
                            class="btn btn-outline-secondary btn-lg px-5"
                            [disabled]="loaders.setPass">
                      <app-spinner [size]="SpinnerSize.SMALL"></app-spinner>
                    </button>
                  </ng-template>
                </div>
                <p class="mb-0">
                  You have already account?
                </p>
                <button type="button"
                        class="btn btn-outline-secondary"
                        (click)="formType = FormType.LOGIN"
                        [disabled]="loaders.setPass">
                  Login Page
                </button>
              </form>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

