<ng-template #paymentModal let-modal>
  @if (!displayLoader) {
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        @if (isEditing) {
          Edit payment
        } @else {
          Add payment
        }
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.close()">
      </button>
    </div>
  }
  <ng-template [ngIf]="displayLoader"
               [ngIfElse]="loadedBody">
    <div class="my-5"></div>
    <app-spinner [size]="SpinnerSize.MEDIUM"></app-spinner>
    <div class="mt-5 text-center">
      <p>Payment is saving...</p>
    </div>
    <div class="mb-3"></div>
  </ng-template>
  <ng-template #loadedBody>
    <div class="modal-body">
      <form ngbAutofocus #form="ngForm"
            (keydown.enter)="form.valid ? savePayment(): null">
        <div class="row">
          <div [className]="ModalUtils.displayMarginFor(paymentNameInput)">
            <label for="payment-name">Name</label>
            <span class="text-danger">*</span>
            <input
              type="text"
              id="payment-name"
              name="payment-name"
              class="form-control"
              [(ngModel)]="paymentDto.name"
              required
              minlength="{{ formConfig.paymentModal.name.minLength }}"
              maxlength="{{ formConfig.paymentModal.name.maxLength }}"
              #paymentNameInput="ngModel"
              [ngClass]="{
                'is-invalid': paymentNameInput.invalid &&
                  (paymentNameInput.dirty || paymentNameInput.touched),
                'is-valid': paymentNameInput.valid }"/>
            @if (paymentNameInput.invalid &&
            (paymentNameInput.dirty || paymentNameInput.touched)) {
              <div class="invalid-feedback">
                <label *ngIf="paymentNameInput.errors?.['required']">
                  {{ formConfig.messages.required }}
                </label>
                <label *ngIf="paymentNameInput.errors?.['minlength']">
                  {{ formatString(formConfig.messages.minLength, formConfig.paymentModal.name.minLength) }}
                </label>
                <label *ngIf="paymentNameInput.errors?.['maxlength']">
                  {{ formatString(formConfig.messages.maxLength, formConfig.paymentModal.name.maxLength) }}
                </label>
              </div>
            }
          </div>
        </div>
        <div class="row">
          <div [className]="ModalUtils.displayMarginFor(paymentPaidSelect)">
            <label for="payment-paid">Status</label>
            <span class="text-danger">*</span>
            <select
              id="payment-paid"
              name="payment-paid"
              class="form-control"
              [(ngModel)]="paymentDto.isPaid"
              required
              #paymentPaidSelect="ngModel"
              [ngClass]="{
                'is-invalid': paymentPaidSelect.invalid &&
                  (paymentPaidSelect.dirty || paymentPaidSelect.touched),
                'is-valid': paymentPaidSelect.valid }">
              <option value=false>Payment not paid</option>
              <option value=true>Payment paid</option>
            </select>
            @if (paymentPaidSelect.invalid &&
            (paymentPaidSelect.dirty || paymentPaidSelect.touched)) {
              <div class="invalid-feedback">
                <label *ngIf="paymentPaidSelect.errors?.['required']">
                  {{ formConfig.messages.required }}
                </label>
              </div>
            }
          </div>
        </div>
        <div class="row">
          <div [className]="innerWidth > appConfig.pageMobileWidth ? 'col-md-6': 'col-md-6  mb-4 pb-2'">
            <div [className]="ModalUtils.displayMarginFor(paymentPriceInput)">
              <label for="payment-price">Price</label>
              <span class="text-danger">*</span>
              <div class="input-group">
                <input
                  type="text"
                  id="payment-price"
                  name="payment-price"
                  class="form-control"
                  [(ngModel)]="paymentDto.price"
                  required
                  min="{{ formConfig.paymentModal.price.minValue }}"
                  maxlength="{{ formConfig.paymentModal.price.maxLength }}"
                  placeholder="{{ formConfig.paymentModal.placeholder }}"
                  pattern="{{ formConfig.regex.money }}"
                  (focus)="paymentPriceInput.value && paymentPriceInput.value[0] === '0' && paymentPriceInput.value[1] !== '.'?
                      paymentDto.price = paymentPriceInput.value.substring(1) : !paymentPriceInput.value ? paymentDto.price = null : null;"
                  (focusout)="paymentPriceInput.value && paymentPriceInput.value[0] === '0' && paymentPriceInput.value[1] !== '.' ?
                      paymentDto.price = paymentPriceInput.value.substring(1) : null"
                  #paymentPriceInput="ngModel"
                  [ngClass]="{
                  'is-invalid': paymentPriceInput.invalid &&
                    (paymentPriceInput.dirty || paymentPriceInput.touched),
                  'is-valid': paymentPriceInput.valid }"/>
                <div class="input-group-append">
                  <span class="input-group-text">PLN</span>
                </div>
                @if (paymentPriceInput.invalid &&
                (paymentPriceInput.dirty || paymentPriceInput.touched)) {
                  <div class="invalid-feedback">
                    <label *ngIf="paymentPriceInput.errors?.['required']">
                      {{ formConfig.messages.required }}
                    </label>
                    <label *ngIf="paymentPriceInput.errors?.['min']">
                      {{ formatString(formConfig.messages.minValue, formConfig.paymentModal.price.minValue) }}
                    </label>
                    <label *ngIf="paymentPriceInput.errors?.['pattern']">
                      {{ formatString(formConfig.messages.invalidFormat, "number") }}
                    </label>
                  </div>
                }
              </div>
            </div>
          </div>
          <div [className]="innerWidth > appConfig.pageMobileWidth ? 'col-md-6': 'col-md-6  mb-4 pb-2'">
            <div [className]="ModalUtils.displayMarginFor(paymentRefundInput)">
              <label for="payment-refund">Refund</label>
              <div class="input-group">
                <input
                  type="text"
                  id="payment-refund"
                  name="payment-refund"
                  class="form-control"
                  [(ngModel)]="paymentDto.refund"
                  min="{{ formConfig.paymentModal.refund.minValue }}"
                  maxlength="{{ formConfig.paymentModal.refund.maxLength }}"
                  placeholder="{{formConfig.paymentModal.placeholder}}"
                  pattern="{{formConfig.regex.money}}"
                  (focus)="paymentRefundInput.value && paymentRefundInput.value[0] === '0' && paymentRefundInput.value[1] !== '.'?
                      paymentDto.refund = paymentRefundInput.value.substring(1) : !paymentRefundInput.value ? paymentDto.refund = null : null;"
                  (focusout)="paymentRefundInput.value && paymentRefundInput.value[0] === '0' && paymentRefundInput.value[1] !== '.' ?
                      paymentDto.refund = paymentRefundInput.value.substring(1) : null"
                  #paymentRefundInput="ngModel"
                  [ngClass]="{
                  'is-invalid': paymentRefundInput.invalid &&
                    (paymentRefundInput.dirty || paymentRefundInput.touched),
                  'is-valid': paymentRefundInput.valid }"/>
                <div class="input-group-append">
                  <span class="input-group-text">PLN</span>
                </div>
                @if (paymentRefundInput.invalid &&
                (paymentRefundInput.dirty || paymentRefundInput.touched)) {
                  <div class="invalid-feedback">
                    <label *ngIf="paymentRefundInput.errors?.['min']">
                      {{ formatString(formConfig.messages.minValue, appConfig.form.paymentModal.refund.minValue) }}
                    </label>
                    <label *ngIf="paymentRefundInput.errors?.['pattern']">
                      {{ formatString(formConfig.messages.invalidFormat, "number") }}
                    </label>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <label for="real-price">Real</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="real-price"
              disabled
              value="{{ subtract(this.paymentDto.price!, this.paymentDto.refund!).abs() }}"/>
            <div class="input-group-append">
              <span class="input-group-text">PLN</span>
            </div>
          </div>
        </div>
        <div id="category" class="form-control">
          <div class="text-center">
            <label for="category" class="my-2">Payment category</label>
          </div>
          <div class="row mb-2">
            <div class="col text-center">
              <input id="needs"
                     type="radio"
                     class="btn-check"
                     name="category"
                     required
                     (click)="onClickedCategory(CategoryType.NEEDS); typehead.clear()"
                     [value]="formConfig.categoryModal.needsName"
                     [(ngModel)]="selectedPaymentCategoryType">
              <label class="btn btn-outline-primary" for="needs">
                Needs
              </label>
            </div>
            <div class="col text-center">
              <input id="wants"
                     type="radio"
                     class="btn-check"
                     name="category"
                     required
                     (click)="onClickedCategory(CategoryType.WANTS);  typehead.clear();"
                     [value]="formConfig.categoryModal.wantsName"
                     [(ngModel)]="selectedPaymentCategoryType">
              <label class="btn btn-outline-primary" for="wants">
                Wants
              </label>
            </div>
            <div class="col text-center">
              <input id="savings"
                     type="radio"
                     class="btn-check"
                     name="category"
                     required
                     (click)="onClickedCategory(CategoryType.SAVINGS); typehead.clear()"
                     [value]="formConfig.categoryModal.savingsName"
                     [(ngModel)]="selectedPaymentCategoryType">
              <label class="btn btn-outline-primary" for="savings">
                Savings
              </label>
            </div>
          </div>
          <app-typehead #typehead
                        [style]="!selectedPaymentCategoryType ? 'display:none' : ''"
                        [paymentCategoryType]="selectedPaymentCategoryType"
                        [categoriesDto]="categoriesDto"
                        [selectedCategoryDto]="assignedCategoryDto"
                        [assignmentComment]="paymentDto.assignmentComment"
                        [isPaymentCategories]="true"
                        [isEditing]="isEditing"
                        [assignmentStatusCode]="assignmentStatusCode"
                        (validationEvent)="onTypeheadChanged($event)"
                        (categoryEvent)="onCategoryChanged($event)">
          </app-typehead>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="!(form.valid && isChildValid)"
        type="button"
        class="btn btn-outline-secondary"
        (click)="savePayment()">
        Save
      </button>
    </div>
  </ng-template>
</ng-template>
<app-error-modal #errorModal>
</app-error-modal>
