<ng-template #copyPaymentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Copy planned payment
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.close()">
    </button>
  </div>
  <div class="row my-3">
    <div class="step"
         [class.active]="currentStep == 1"
         [class.completed]="currentStep > 1">
      <div class="circle">
        <i class="bi bi-box-seam"></i>
      </div>
    </div>
    <div class="step"
         [class.active]="currentStep == 2"
         [class.completed]="currentStep > 2">
      <div class="circle">
        <i class="bi bi-border-style"></i>
      </div>
    </div>
  </div>

  <ng-container [ngSwitch]="currentStep">
    <ng-container *ngSwitchCase="1">
      <form ngbAutofocus #step1Form="ngForm">
        <div
          [className]="displayMobileView() ? 'step-mobile-view modal-body overflow-y-auto' : 'modal-body overflow-y-auto'">
          <div class="row">
            <div class="col-md-6">
              <div [className]="ModalUtils.displayMarginFor(fromDate)">
                <div class="mr-5">
                  <div class="text-center">
                    <label for="from-date">From</label>
                  </div>
                  <div class="input-group">
                    <input
                      type="text"
                      id="from-date"
                      name="from-date"
                      class="form-control"
                      [(ngModel)]="fromDatePicker"
                      (ngModelChange)="DateUtils.validateOnDatesChanged(fromDate, toDate, fromDatePicker, toDatePicker)"
                      required
                      #fromDate="ngModel"
                      container="body"
                      placement="bottom-end"
                      ngbDatepicker
                      #dateStart="ngbDatepicker"
                      [ngClass]="{
                            'is-invalid': fromDate.invalid,
                            'is-valid': fromDate.valid }"/>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary bi bi-calendar3"
                              (click)="dateStart.toggle()"
                              type="button">
                      </button>
                    </div>
                    @if (fromDate.invalid) {
                      <div class="invalid-feedback">
                        <label *ngIf="fromDate.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="fromDate.errors?.['invalidRange']">
                          {{ formatString(formConfig.messages.range, "Date") }}
                        </label>
                        <label *ngIf="fromDate.errors?.['ngbDate']">
                          {{ formatString(formConfig.messages.invalid, "Date") }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback">
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div [className]="ModalUtils.displayMarginFor(toDate)">
                <div class="text-center">
                  <label for="to-date">To</label>
                </div>
                <div class="d-flex">
                  <div class="input-group">
                    <input
                      id="to-date"
                      name="to-date"
                      class="form-control"
                      [(ngModel)]="toDatePicker"
                      (ngModelChange)="
                        DateUtils.validateOnDatesChanged(fromDate, toDate, fromDatePicker, toDatePicker);
                        DateUtils.validateFeatureOnDateChanged(toDate, fromDatePicker, toDatePicker, maxMonths)"
                      container="body"
                      placement="bottom-end"
                      required
                      #toDate="ngModel"
                      ngbDatepicker
                      #dateEnd="ngbDatepicker"
                      [ngClass]="{
                            'is-invalid': toDate.invalid,
                            'is-valid': toDate.valid }"/>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary bi bi-calendar3"
                              (click)="dateEnd.toggle()"
                              type="button">
                      </button>
                    </div>
                    @if (toDate.invalid) {
                      <div class="invalid-feedback">
                        <label *ngIf="toDate.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="toDate.errors?.['invalidRange']">
                          {{ formatString(formConfig.messages.range, "Date") }}
                        </label>
                        <label *ngIf="toDate.errors?.['tooFuture']">
                          {{ formatString(formConfig.messages.tooFuture, "Date") }}
                        </label>
                        <label *ngIf="toDate.errors?.['ngbDate']">
                          {{ formatString(formConfig.messages.invalid, "Date") }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback">
                      </div>
                    }
                  </div>
                  <div class="mx-1">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Search budgets"
                            (click)="searchBudgets()"
                            [disabled]="step1Form.invalid">
                      <i class="bi bi-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              @if (!budgets || budgets.length == 0) {
                <app-error [response]="budgetsResponseModel"
                           [notFoundErrorText]="formatString(appConfig.form.messages.notFound,'Budgets data')">
                </app-error>
              } @else {
                @for (budget of budgets; track budget) {
                  <a (click)="onCheckBudget(budget.id)" class="cursor-pointer">
                    <div class="card my-2" [class.budget-border]="selectedBudgetIds.indexOf(budget.id) > -1">
                      <div class="card-body">
                        <table>
                          <tr class="table-header">
                            <th>Name</th>
                            <th>Date start</th>
                            <th>Date end</th>
                          </tr>
                          <tr>
                            <td>{{ budget.name }}</td>
                            <td>{{ DateUtils.format(budget.dateStart) }}</td>
                            <td>{{ DateUtils.format(budget.dateEnd) }}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </a>
                }
              }
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="h-100">
            <p class="my-auto">Selected ({{ selectedBudgetIds.length }}) budgets</p>
          </div>
          <button
            [disabled]="step1Form.invalid || selectedBudgetIds.length == 0"
            type="button"
            class="btn btn-outline-primary"
            (click)="goNext()">
            Next
          </button>
        </div>
      </form>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <form ngbAutofocus #step2Form="ngForm">
        <div
          [className]="displayMobileView() ? 'step-mobile-view modal-body overflow-y-auto' : 'step-view modal-body overflow-y-auto'">
          <div class="row">
            <div class="col">
              @for (budgetId of selectedBudgetIds; track budgetId) {
                <label for="{{budgetId}}">
                  {{ getBudgetData(budgetId).name }} {{ DateUtils.format(getBudgetData(budgetId).dateStart) }}
                </label>
                <div id="{{budgetId}}" ngbAccordion>
                  <div ngbAccordionItem
                       [collapsed]="selectedBudgetId !== budgetId"
                       [class.error-border]="isInvalidPlannedPaymentForm(
                         paymentNameInput,
                         plannedPaymentEstimatedInput,
                         plannedPaymentRealPriceInput,
                         paymentCommentInput)"
                  >
                    <h2 ngbAccordionHeader>
                      <button ngbAccordionButton
                              (click)="selectedBudgetId = budgetId"
                              class="light-gray-bg accordion-button-header">
                        <table>
                          <tr class="table-header">
                            <th>Name</th>
                            <th>Estimated (PLN)</th>
                            <th [style.display]="displayMobileView() ? 'none' : ''">
                              Real Price (PLN)
                            </th>
                            <th [style.display]="displayMobileView() ? 'none' : ''">
                              Deviation (PLN)
                            </th>
                          </tr>
                          <tr>
                            <td>{{ getPlannedPaymentData(budgetId).name }}</td>
                            <td>{{ getPlannedPaymentData(budgetId).estimated }}</td>
                            <td [style.display]="displayMobileView() ? 'none' : ''">
                              @if (BigNumber(getPlannedPaymentData(budgetId).realPrice).gt(0)) {
                                {{ getPlannedPaymentData(budgetId).realPrice }}
                              } @else {
                                0.00
                              }
                            </td>
                            <td [style.display]="displayMobileView() ? 'none' : ''">
                              @if (BigNumber(getPlannedPaymentData(budgetId).realPrice).gt(0)) {
                                {{ format(subtract(getPlannedPaymentData(budgetId).estimated, getPlannedPaymentData(budgetId).realPrice)) }}
                              } @else {
                                -
                              }
                            </td>
                          </tr>
                        </table>
                      </button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <div class="row">
                          <div [className]="ModalUtils.displayMarginFor(paymentNameInput)">
                            <label for="{{budgetId}}-payment-name">Name</label>
                            <span class="text-danger">*</span>
                            <input
                              type="text"
                              id="{{budgetId}}-payment-name"
                              name="{{budgetId}}-payment-name"
                              class="form-control"
                              [(ngModel)]="getPlannedPaymentData(budgetId).name"
                              required
                              minlength="{{ formConfig.paymentModal.name.minLength }}"
                              maxlength="{{ formConfig.paymentModal.name.maxLength }}"
                              #paymentNameInput="ngModel"
                              [ngClass]="{
                                'is-invalid': paymentNameInput.invalid &&
                                  (paymentNameInput.dirty || paymentNameInput.touched),
                                'is-valid': paymentNameInput.valid }"/>
                            @if (paymentNameInput.invalid &&
                            (paymentNameInput.dirty || paymentNameInput.touched)) {
                              <div class="invalid-feedback">
                                <label *ngIf="paymentNameInput.errors?.['required']">
                                  {{ formConfig.messages.required }}
                                </label>
                                <label *ngIf="paymentNameInput.errors?.['minlength']">
                                  {{ formatString(formConfig.messages.minLength, formConfig.paymentModal.name.minLength) }}
                                </label>
                                <label *ngIf="paymentNameInput.errors?.['maxlength']">
                                  {{ formatString(formConfig.messages.maxLength, formConfig.paymentModal.name.maxLength) }}
                                </label>
                              </div>
                            }
                          </div>
                        </div>
                        <div class="row">
                          <div [className]="displayMobileView() ? 'col-md-6': 'col-md-6  mb-4 pb-2'">
                            <div [className]="ModalUtils.displayMarginFor(paymentPaidSelect)">
                              <label for="{{budgetId}}-payment-paid">Status</label>
                              <select
                                id="{{budgetId}}-payment-paid"
                                name="{{budgetId}}-payment-paid"
                                class="form-control"
                                [(ngModel)]="getPlannedPaymentData(budgetId).isPaid"
                                required
                                disabled
                                #paymentPaidSelect="ngModel">
                                <option value=false>Payment not paid</option>
                              </select>
                            </div>
                            <div [className]="ModalUtils.displayMarginFor(plannedPaymentEstimatedInput)">
                              <label for="{{budgetId}}-planned-payment-estimated">Estimated</label>
                              <span class="text-danger">*</span>
                              <div class="input-group">
                                <input
                                  type="text"
                                  id="{{budgetId}}-planned-payment-estimated"
                                  name="{{budgetId}}-planned-payment-estimated"
                                  class="form-control"
                                  [(ngModel)]="getPlannedPaymentData(budgetId).estimated"
                                  required
                                  min="{{ formConfig.paymentModal.price.minValue }}"
                                  maxlength="{{ formConfig.paymentModal.price.maxLength }}"
                                  placeholder="{{ formConfig.paymentModal.placeholder }}"
                                  pattern="{{ formConfig.regex.money }}"
                                  #plannedPaymentEstimatedInput="ngModel"
                                  [ngClass]="{
                                    'is-invalid': plannedPaymentEstimatedInput.invalid &&
                                      (plannedPaymentEstimatedInput.dirty || plannedPaymentEstimatedInput.touched),
                                    'is-valid': plannedPaymentEstimatedInput.valid }"/>
                                <div class="input-group-append">
                                  <span class="input-group-text">PLN</span>
                                </div>
                                @if (plannedPaymentEstimatedInput.invalid &&
                                (plannedPaymentEstimatedInput.dirty || plannedPaymentEstimatedInput.touched)) {
                                  <div class="invalid-feedback">
                                    <label *ngIf="plannedPaymentEstimatedInput.errors?.['required']">
                                      {{ formConfig.messages.required }}
                                    </label>
                                    <label *ngIf="plannedPaymentEstimatedInput.errors?.['min']">
                                      {{ formatString(formConfig.messages.minValue, formConfig.paymentModal.price.minValue) }}
                                    </label>
                                    <label *ngIf="plannedPaymentEstimatedInput.errors?.['pattern']">
                                      {{ formatString(formConfig.messages.invalidFormat, "number") }}
                                    </label>
                                  </div>
                                }
                              </div>
                            </div>
                            <div [className]="ModalUtils.displayMarginFor(plannedPaymentRealPriceInput)">
                              <label for="{{budgetId}}-planned-payment-real-price">Real price</label>
                              <div class="input-group">
                                <input
                                  type="text"
                                  id="{{budgetId}}-planned-payment-real-price"
                                  name="{{budgetId}}-planned-payment-real-price"
                                  class="form-control"
                                  [(ngModel)]="getPlannedPaymentData(budgetId).realPrice"
                                  min="{{ formConfig.paymentModal.refund.minValue }}"
                                  maxlength="{{ formConfig.paymentModal.refund.maxLength }}"
                                  placeholder="{{formConfig.paymentModal.placeholder}}"
                                  pattern="{{formConfig.regex.money}}"
                                  #plannedPaymentRealPriceInput="ngModel"
                                  [ngClass]="{
                                    'is-invalid': plannedPaymentRealPriceInput.invalid &&
                                      (plannedPaymentRealPriceInput.dirty || plannedPaymentRealPriceInput.touched),
                                    'is-valid': plannedPaymentRealPriceInput.valid }"/>
                                <div class="input-group-append">
                                  <span class="input-group-text">PLN</span>
                                </div>
                                @if (plannedPaymentRealPriceInput.invalid &&
                                (plannedPaymentRealPriceInput.dirty || plannedPaymentRealPriceInput.touched)) {
                                  <div class="invalid-feedback">
                                    <label *ngIf="plannedPaymentRealPriceInput.errors?.['min']">
                                      {{ formatString(formConfig.messages.minValue, appConfig.form.paymentModal.refund.minValue) }}
                                    </label>
                                    <label *ngIf="plannedPaymentRealPriceInput.errors?.['pattern']">
                                      {{ formatString(formConfig.messages.invalidFormat, "number") }}
                                    </label>
                                  </div>
                                }
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div [className]="ModalUtils.displayMarginFor(paymentCommentInput)">
                              <label for="{{budgetId}}-planned-payment-comment">Comment</label>
                              <textarea
                                id="{{budgetId}}-planned-payment-comment"
                                name="{{budgetId}}-planned-payment-comment"
                                class="form-control"
                                rows="{{ displayMobileView() ? 4 : 9 }}"
                                minlength="{{ formConfig.paymentModal.comment.minLength }}"
                                maxlength="{{ formConfig.paymentModal.comment.maxLength }}"
                                #paymentCommentInput="ngModel"
                                [(ngModel)]="getPlannedPaymentData(budgetId).comment"
                                [ngClass]="{
                                  'is-invalid': paymentCommentInput.invalid &&
                                    (paymentCommentInput.dirty || paymentCommentInput.touched),
                                  'is-valid': paymentCommentInput.valid }">
                                </textarea>
                              @if (paymentCommentInput.invalid &&
                              (paymentCommentInput.dirty || paymentCommentInput.touched)) {
                                <div class="invalid-feedback">
                                  <label *ngIf="paymentCommentInput.errors?.['minlength']">
                                    {{ formatString(formConfig.messages.minLength, formConfig.paymentModal.comment.minLength) }}
                                  </label>
                                  <label *ngIf="paymentCommentInput.errors?.['maxlength']">
                                    {{ formatString(formConfig.messages.maxLength, formConfig.paymentModal.comment.maxLength) }}
                                  </label>
                                </div>
                              }
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                      </div>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            *ngIf="currentStep > 1"
            type="button"
            class="btn btn-outline-secondary"
            (click)="goBack()">
            Back
          </button>
          <button
            [disabled]="step2Form.invalid"
            type="button"
            class="btn btn-outline-primary"
            (click)="save()">
            Save
          </button>
        </div>
      </form>
    </ng-container>
  </ng-container>
</ng-template>
