<ng-template #copyPaymentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Copy planned payment
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.close()">
    </button>
  </div>
  <div class="row my-3">
    <div class="step"
         [class.active]="currentStep == 1"
         [class.completed]="currentStep > 1">
      <div class="circle">
        <i class="bi bi-box-seam"></i>
      </div>
    </div>
    <div class="step"
         [class.active]="currentStep == 2"
         [class.completed]="currentStep > 2">
      <div class="circle">
        <i class="bi bi-border-style"></i>
      </div>
    </div>
  </div>

  <ng-container [ngSwitch]="currentStep">
    <ng-container *ngSwitchCase="1">
      <form ngbAutofocus #step1Form="ngForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div [className]="ModalUtils.displayMarginFor(fromDate)">
                <div class="mr-5">
                  <div class="text-center">
                    <label for="from-date">From</label>
                  </div>
                  <div class="input-group">
                    <input
                      type="text"
                      id="from-date"
                      name="from-date"
                      class="form-control"
                      [(ngModel)]="fromDatePicker"
                      (ngModelChange)="onDatesChanged(fromDate, toDate)"
                      required
                      #fromDate="ngModel"
                      container="body"
                      placement="bottom-end"
                      ngbDatepicker
                      #dateStart="ngbDatepicker"
                      [ngClass]="{
                            'is-invalid': fromDate.invalid,
                            'is-valid': fromDate.valid }"/>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary bi bi-calendar3"
                              (click)="dateStart.toggle()"
                              type="button">
                      </button>
                    </div>
                    @if (fromDate.invalid) {
                      <div class="invalid-feedback">
                        <label *ngIf="fromDate.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="fromDate.errors?.['invalidRange']">
                          {{ formatString(formConfig.messages.range, "Date") }}
                        </label>
                        <label *ngIf="fromDate.errors?.['ngbDate']">
                          {{ formatString(formConfig.messages.invalid, "Date") }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback">
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div [className]="ModalUtils.displayMarginFor(toDate)">
                <div class="text-center">
                  <label for="to-date">To</label>
                </div>
                <div class="d-flex">
                  <div class="input-group">
                    <input
                      id="to-date"
                      name="to-date"
                      class="form-control"
                      [(ngModel)]="toDatePicker"
                      (ngModelChange)="onDatesChanged(fromDate, toDate)"
                      container="body"
                      placement="bottom-end"
                      required
                      #toDate="ngModel"
                      ngbDatepicker
                      #dateEnd="ngbDatepicker"
                      [ngClass]="{
                            'is-invalid': toDate.invalid,
                            'is-valid': toDate.valid }"/>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary bi bi-calendar3"
                              (click)="dateEnd.toggle()"
                              type="button">
                      </button>
                    </div>
                    @if (toDate.invalid) {
                      <div class="invalid-feedback">
                        <label *ngIf="toDate.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="toDate.errors?.['invalidRange']">
                          {{ formatString(formConfig.messages.range, "Date") }}
                        </label>
                        <label *ngIf="toDate.errors?.['ngbDate']">
                          {{ formatString(formConfig.messages.invalid, "Date") }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback">
                      </div>
                    }
                  </div>
                  <div class="mx-1"></div>
                  <div>
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Search budgets"
                            (click)="searchBudgets()"
                            [disabled]="step1Form.invalid">
                      <i class="bi bi-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            [disabled]="step1Form.invalid"
            type="button"
            class="btn btn-outline-primary"
            (click)="goNext()">
            Next
          </button>
        </div>
      </form>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <form ngbAutofocus #step2Form="ngForm">
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button
            *ngIf="currentStep > 1"
            type="button"
            class="btn btn-outline-secondary"
            (click)="goBack()">
            Back
          </button>
          <button
            [disabled]="step2Form.invalid"
            type="button"
            class="btn btn-outline-primary"
            (click)="save()">
            Save
          </button>
        </div>
      </form>
    </ng-container>
  </ng-container>
</ng-template>
