<ng-template #budgetsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Add multiple budgets
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close(modal)">
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      @for (budgetField of budgetPickers; let i = $index; track i) {
        <div class="d-flex align-items-baseline">
          @if (!ModalUtils.isUndefinedStatus(budgetStatusIcons[i])) {
            @if (budgetStatusIcons[i].isSuccess) {
              <div class="text-success"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="{{budgetStatusIcons[i].message}}">
                <i class="bi bi-check-circle icon-big"></i>
              </div>
            } @else {
              <div class="text-danger"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="{{budgetStatusIcons[i].message}}">
                <i class="bi bi-x-circle icon-big"></i>
              </div>
            }
            <div class="mx-1"></div>
          }
          <label for="budget-date-{{i}}">{{ DatePickerUtil.getMonthName(budgetField) }}</label>
        </div>
        <div [className]="ModalUtils.displayMarginFor(budgetDateField)">
          <div class="d-flex align-items-baseline">
            <div class="input-group">
              <input
                id="budget-date-{{i}}"
                name="budget-date-{{i}}"
                class="form-control"
                [(ngModel)]="budgetPickers[i]"
                [disabled]="displayTimer || budgetStatusIcons[i].isSuccess"
                container="body"
                placement="bottom-end"
                required
                #budgetDateField="ngModel"
                ngbDatepicker
                (ngModelChange)="onDateChanged(i, budgetDateField)"
                #budgetDatePicker="ngbDatepicker"
                [ngClass]="{
                'is-invalid': budgetDateField.invalid ||
                  (!ModalUtils.isUndefinedStatus(budgetStatusIcons[i]) && !budgetStatusIcons[i].isSuccess),
                'is-valid': budgetDateField.valid }"/>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary bi bi-calendar3"
                        [disabled]="displayTimer || budgetStatusIcons[i].isSuccess"
                        (click)="budgetDatePicker.toggle()"
                        type="button">
                </button>
              </div>
              @if (budgetDateField.invalid) {
                <div class="invalid-feedback">
                  <label *ngIf="budgetDateField.errors?.['required']">
                    {{ formConfig.messages.required }}
                  </label>
                  <label *ngIf="budgetDateField.errors?.['ngbDate']">
                    {{ formatString(formConfig.messages.invalid, "Date") }}
                  </label>
                  <label *ngIf="budgetDateField.errors?.['alreadyExist']">
                    {{ formConfig.messages.alreadyDefined }}
                  </label>
                  <label *ngIf="budgetDateField.errors?.['responseMessage']">
                    {{ budgetDateField.errors?.['responseMessage'] }}
                  </label>
                </div>
              } @else {
                <div class="valid-feedback"></div>
              }
            </div>
            <div class="mx-2"></div>
            <div>
              <button type="button"
                      [disabled]="!ModalUtils.isUndefinedStatus(budgetStatusIcons[i]) &&
                      budgetStatusIcons[i].isSuccess"
                      class="btn btn-outline-danger"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Remove budget"
                      (click)="remove(i, form)">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>
      }
      <div class="text-center">
        <button [disabled]="budgetPickers.length >= budgetsLimit || displayTimer"
                type="button"
                class="btn btn-outline-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Add budget"
                (click)="add()">
          <i class="bi bi-plus-square"></i> Add budget
        </button>
      </div>
    </form>
    <div class="w-100 text-end">
      <label [ngClass]="budgetPickers.length >= budgetsLimit? 'text-danger' : 'text-secondary'">
        {{ budgetPickers.length }} / {{ budgetsLimit }}
      </label>
    </div>
    <ng-template [ngIf]="displayTimer">
      <div class="my-4"></div>
      <app-timer [duration]="appConfig.timer.duration.default"
                 (timerFinishedEvent)="onTimerFinishedEvent(modal)">

      </app-timer>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button
      [disabled]="form.invalid || displayTimer"
      type="button"
      class="btn btn-outline-secondary"
      (click)="saveBudgets(form)">
      Save
    </button>
  </div>
</ng-template>
