<ng-template #budgetsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Add multiple budgets
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="close(modal)">
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      @for (budgetField of budgetPickers; let i = $index; track i) {
        <div class="d-flex align-items-baseline">
          @if (!ModalUtils.isUndefinedBudgetStatus(budgetStatusIcons[i])) {
            @if (budgetStatusIcons[i].status) {
              <div class="text-success"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="{{budgetStatusIcons[i].message}}">
                <i class="bi bi-check-circle icon-big"></i>
              </div>
            } @else {
              <div class="text-danger"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="{{budgetStatusIcons[i].message}}">
                <i class="bi bi-x-circle icon-big"></i>
              </div>
            }
            <div class="mx-1"></div>
          }
          <label for="budget-date-{{i}}">{{ DateUtils.getMonthName(budgetField) }}</label>
        </div>
        <div class="d-flex align-items-baseline">
          <div class="input-group">
            <input
              id="budget-date-{{i}}"
              name="budget-date-{{i}}"
              class="form-control"
              [(ngModel)]="budgetPickers[i]"
              [disabled]="disableForm || budgetStatusIcons[i].status"
              container="body"
              placement="bottom-end"
              required
              #budgetDate="ngModel"
              ngbDatepicker
              (ngModelChange)="onDateChanged(i, budgetDate)"
              #dateEnd="ngbDatepicker"
              [ngClass]="{
                    'is-invalid': budgetDate.invalid,
                    'is-valid': budgetDate.valid }"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary bi bi-calendar3"
                      [disabled]="disableForm || budgetStatusIcons[i].status"
                      (click)="dateEnd.toggle()"
                      type="button">
              </button>
            </div>
            @if (budgetDate.invalid) {
              <div class="invalid-feedback">
                <label *ngIf="budgetDate.errors?.['required']">
                  Field is required.
                </label>
                <label *ngIf="budgetDate.errors?.['ngbDate']">
                  Date is invalid.
                </label>
                <label *ngIf="budgetDate.errors?.['alreadyExist']">
                  {{ budgetDate.errors?.['alreadyExist'] }}
                </label>
                <label *ngIf="budgetDate.errors?.['responseMessage']">
                  {{ budgetDate.errors?.['responseMessage'] }}
                </label>
              </div>
            } @else if (budgetDate.valid) {
              <div class="valid-feedback pb-3">
              </div>
            } @else {
              <div class="pb-4"></div>
            }
          </div>
          <div class="mx-2"></div>
          <div>
            <button type="button"
                    [disabled]="disableForm ||
                     (!ModalUtils.isUndefinedBudgetStatus(budgetStatusIcons[i]) && budgetStatusIcons[i].status)"
                    class="btn btn-outline-danger"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Remove budget"
                    (click)="remove(i, form)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
        @if (budgetStatusIcons[i].status && !disableForm) {
          <div class="py-2"></div>
        }
      }
      @if (disableForm || form.invalid) {
        <div class="py-2"></div>
      }
      <div class="text-center">
        <button [disabled]="budgetPickers.length >= budgetsLimit || disableForm || form.invalid"
                type="button"
                class="btn btn-outline-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Add budget"
                (click)="add()">
          <i class="bi bi-plus-square"></i> Add budget
        </button>
      </div>
    </form>
    <div class="w-100 text-end">
      <label [ngClass]="budgetPickers.length >= budgetsLimit? 'text-danger' : 'text-secondary'">
        {{ budgetPickers.length }} / {{ budgetsLimit }}
      </label>
    </div>
    <ng-template [ngIf]="displayTimer">
      <div class="my-4"></div>
      <app-timer [duration]="LoadersConfig.SHORT_DURATION"
                 (timerFinishedEvent)="onTimerFinishedEvent(modal)"></app-timer>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button
      [disabled]="form.invalid"
      type="button"
      class="btn btn-outline-secondary"
      (click)="saveBudgets(form)">
      Save
    </button>
  </div>
</ng-template>
