<ng-template #budgetsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Add multiple budgets
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.close()">
    </button>
  </div>
  <div class="modal-body">
    <form #form="ngForm">
      @for (budgetField of budgetFields; let i = $index; track i) {
        <label for="budget-date-{{i}}">Budget date</label>
        <div class="d-flex">
          <div class="input-group">
            <input
              id="budget-date-{{i}}"
              name="budget-date-{{i}}"
              class="form-control"
              [(ngModel)]="budgetFields[i]"
              container="body"
              placement="bottom-end"
              required
              #toDate="ngModel"
              ngbDatepicker
              #dateEnd="ngbDatepicker"
              [ngClass]="{
                    'is-invalid':
                      toDate.invalid,
                    'is-valid': toDate.valid }"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary bi bi-calendar3"
                      (click)="dateEnd.toggle()"
                      type="button">
              </button>
            </div>
            @if (toDate.invalid) {
              <div class="invalid-feedback">
                <label *ngIf="toDate.errors?.['required']">
                  Field is required.
                </label>
                <label *ngIf="toDate.errors?.['invalidDateRange']">
                  <strong>Date To</strong> can't be less or equal to <strong>Date from</strong>.
                </label>
                <label *ngIf="toDate.errors?.['ngbDate']">
                  Date is invalid.
                </label>
              </div>
            } @else if (toDate.valid) {
              <div class="valid-feedback pb-3">
              </div>
            } @else {
              <div class="pb-4"></div>
            }
          </div>
          <div class="mx-2"></div>
          <div>
            <button type="button"
                    class="btn btn-outline-danger"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Remove budget"
                    (click)="remove(i)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      }
      <div class="text-center">
        <button type="button"
                class="btn btn-outline-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Add budget"
                (click)="add()">
          <i class="bi bi-plus-square"></i> Add budget
        </button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      [disabled]="form.invalid"
      type="button"
      class="btn btn-outline-secondary"
      (click)="saveBudgets()">
      Save
    </button>
  </div>
</ng-template>
