<ng-template #plannedPaymentModal let-modal>
  @if (!displayLoader) {
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        @if (isEditing) {
          Edit planned payment
        } @else {
          Add planned payment
        }
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.close()">
      </button>
    </div>
  }
  <ng-template [ngIf]="displayLoader"
               [ngIfElse]="loadedBody">
    <div class="my-5"></div>
    <app-spinner [size]="SpinnerSize.MEDIUM"></app-spinner>
    <div class="mt-5 text-center">
      <p>Payment is saving...</p>
    </div>
    <div class="mb-3"></div>
  </ng-template>
  <ng-template #loadedBody>
    <div class="modal-body">
      <form ngbAutofocus #form="ngForm"
            (keydown.enter)="form.valid ? savePlannedPayment(): null">
        <div class="row">
          <div [className]="ModalUtils.displayMarginFor(paymentNameInput)">
            <label for="payment-name">Name</label>
            <span class="text-danger">*</span>
            <input
              type="text"
              id="payment-name"
              name="payment-name"
              class="form-control"
              [(ngModel)]="plannedPaymentDto.name"
              required
              minlength="{{ formConfig.paymentModal.name.minLength }}"
              maxlength="{{ formConfig.paymentModal.name.maxLength }}"
              #paymentNameInput="ngModel"
              [ngClass]="{
                'is-invalid': paymentNameInput.invalid &&
                  (paymentNameInput.dirty || paymentNameInput.touched),
                'is-valid': paymentNameInput.valid }"/>
            @if (paymentNameInput.invalid &&
            (paymentNameInput.dirty || paymentNameInput.touched)) {
              <div class="invalid-feedback">
                <label *ngIf="paymentNameInput.errors?.['required']">
                  {{ formConfig.messages.required }}
                </label>
                <label *ngIf="paymentNameInput.errors?.['minlength']">
                  {{ formatString(formConfig.messages.minLength, formConfig.paymentModal.name.minLength) }}
                </label>
                <label *ngIf="paymentNameInput.errors?.['maxlength']">
                  {{ formatString(formConfig.messages.maxLength, formConfig.paymentModal.name.maxLength) }}
                </label>
              </div>
            }
          </div>
        </div>
        <div class="row">
          <div [className]="ModalUtils.displayMarginFor(paymentPaidSelect)">
            <label for="payment-paid">
              Status
            </label>
            @if (paidStatusEnabled()) {
              <span class="text-danger">*</span>
            }
            <a #tooltipStatus="ngbTooltip"
               class="info-tooltip"
               [ngbTooltip]="tipStatusContent"
               (click)="tooltipStatus.open()">
              <i class="bi bi-info-circle"></i>
            </a>
            <ng-template #tipStatusContent>
              <ng-template [ngIf]="BigNumber(plannedPaymentDto.actual!).toNumber() > 0"
                           [ngIfElse]="explainStatus">
                <ul class="text-start mb-0">
                  <li>
                    <strong>Paid</strong> - payment has been made.
                  </li>
                  <li>
                    <strong>Unpaid</strong> - payment was not made.
                  </li>
                </ul>
              </ng-template>
              <ng-template #explainStatus>
                <p class="text-start mb-0">
                  Status is available when <strong>actual > 0.00 PLN</strong>.
                </p>
              </ng-template>
            </ng-template>
            <select
              id="payment-paid"
              name="payment-paid"
              class="form-control"
              [(ngModel)]="plannedPaymentDto.isPaid"
              [disabled]="!paidStatusEnabled()"
              required
              #paymentPaidSelect="ngModel"
              [ngClass]="{
                'is-invalid': paymentPaidSelect.invalid &&
                  (paymentPaidSelect.dirty || paymentPaidSelect.touched),
                'is-valid': paymentPaidSelect.valid }">
              <option [ngValue]=true>Paid</option>
              <option [ngValue]=false>Unpaid</option>
            </select>
            @if (paymentPaidSelect.invalid &&
            (paymentPaidSelect.dirty || paymentPaidSelect.touched)) {
              <div class="invalid-feedback">
                <label *ngIf="paymentPaidSelect.errors?.['required']">
                  {{ formConfig.messages.required }}
                </label>
              </div>
            }
          </div>
        </div>
        <div class="row">
          <div [className]="innerWidth > appConfig.pageMobileWidth ? 'col-md-6': 'col-md-6  mb-4 pb-2'">
            <div [className]="ModalUtils.displayMarginFor(paymentEstimatedInput)">
              <label for="planned-payment-estimated">Estimated</label>
                <span class="text-danger">*</span>
              <a #tooltipEstimated="ngbTooltip"
                 class="info-tooltip"
                 [ngbTooltip]="tipEstimatedContent"
                 (click)="tooltipEstimated.open()">
                <i class="bi bi-info-circle"></i>
              </a>
              <ng-template #tipEstimatedContent>
                  <p class="text-start mb-1">
                    The estimated field means: <i>how much money you will spend in near feature</i>. Examples:
                  </p>
                  <ul class="text-start mb-1">
                    <li>Tooth treatment</li>
                    <li>Car service</li>
                    <li>Civil liability insurance policy</li>
                  </ul>
              </ng-template>
              <div class="input-group">
                <input
                  type="text"
                  id="planned-payment-estimated"
                  name="planned-payment-estimated"
                  class="form-control"
                  [(ngModel)]="plannedPaymentDto.estimated"
                  required
                  min="{{ formConfig.paymentModal.price.minValue }}"
                  maxlength="{{ formConfig.paymentModal.price.maxLength }}"
                  placeholder="{{ formConfig.paymentModal.placeholder }}"
                  [disabled]="plannedPaymentDto.isPaid"
                  pattern="{{ formConfig.regex.money }}"
                  (focus)="paymentEstimatedInput.value && paymentEstimatedInput.value[0] === '0' && paymentEstimatedInput.value[1] !== '.'?
                      plannedPaymentDto.estimated = paymentEstimatedInput.value.substring(1) : !paymentEstimatedInput.value ? plannedPaymentDto.estimated = null : null;"
                  (focusout)="paymentEstimatedInput.value && paymentEstimatedInput.value[0] === '0' && paymentEstimatedInput.value[1] !== '.' ?
                      plannedPaymentDto.estimated = paymentEstimatedInput.value.substring(1) : null"
                  #paymentEstimatedInput="ngModel"
                  [ngClass]="{
                  'is-invalid': paymentEstimatedInput.invalid &&
                    (paymentEstimatedInput.dirty || paymentEstimatedInput.touched),
                  'is-valid': paymentEstimatedInput.valid }"/>
                <div class="input-group-append">
                  <span class="input-group-text">PLN</span>
                </div>
                @if (paymentEstimatedInput.invalid &&
                (paymentEstimatedInput.dirty || paymentEstimatedInput.touched)) {
                  <div class="invalid-feedback">
                    <label *ngIf="paymentEstimatedInput.errors?.['required']">
                      {{ formConfig.messages.required }}
                    </label>
                    <label *ngIf="paymentEstimatedInput.errors?.['min']">
                      {{ formatString(formConfig.messages.minValue, formConfig.paymentModal.price.minValue) }}
                    </label>
                    <label *ngIf="paymentEstimatedInput.errors?.['pattern']">
                      {{ formatString(formConfig.messages.invalidFormat, "number") }}
                    </label>
                  </div>
                }
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div [className]="ModalUtils.displayMarginFor(paymentActualInput)">
              <label for="planned-payment-real-price">Actual</label>
              <a #tooltipActual="ngbTooltip"
                 class="info-tooltip"
                 [ngbTooltip]="tipActualContent"
                 (click)="tooltipActual.open()">
                <i class="bi bi-info-circle"></i>
              </a>
              <ng-template #tipActualContent>
                <p class="text-start mb-1">
                  The actual field means: <i>how much money have you actually spend in planned payment</i>.
                </p>
              </ng-template>
              <div class="input-group">
                <input
                  type="text"
                  id="planned-payment-real-price"
                  name="planned-payment-real-price"
                  class="form-control"
                  [(ngModel)]="plannedPaymentDto.actual"
                  min="{{ formConfig.paymentModal.refund.minValue }}"
                  maxlength="{{ formConfig.paymentModal.refund.maxLength }}"
                  placeholder="{{formConfig.paymentModal.placeholder}}"
                  pattern="{{formConfig.regex.money}}"
                  (focus)="paymentActualInput.value && paymentActualInput.value[0] === '0' && paymentActualInput.value[1] !== '.'?
                      plannedPaymentDto.actual = paymentActualInput.value.substring(1) : !paymentActualInput.value ? plannedPaymentDto.actual = null : null;"
                  (focusout)="paymentActualInput.value && paymentActualInput.value[0] === '0' && paymentActualInput.value[1] !== '.' ?
                      plannedPaymentDto.actual = paymentActualInput.value.substring(1) : null"
                  #paymentActualInput="ngModel"
                  [ngClass]="{
                  'is-invalid': paymentActualInput.invalid &&
                    (paymentActualInput.dirty || paymentActualInput.touched),
                  'is-valid': paymentActualInput.valid }"/>
                <div class="input-group-append">
                  <span class="input-group-text">PLN</span>
                </div>
                @if (paymentActualInput.invalid &&
                (paymentActualInput.dirty || paymentActualInput.touched)) {
                  <div class="invalid-feedback">
                    <label *ngIf="paymentActualInput.errors?.['min']">
                      {{ formatString(formConfig.messages.minValue, appConfig.form.paymentModal.refund.minValue) }}
                    </label>
                    <label *ngIf="paymentActualInput.errors?.['pattern']">
                      {{ formatString(formConfig.messages.invalidFormat, "number") }}
                    </label>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
        <div id="category" class="form-control">
          <div class="text-center">
            <label for="category" class="my-2">Payment category</label>
          </div>
          <div class="row mb-2">
            <div class="col text-center">
              <input id="needs"
                     type="radio"
                     class="btn-check"
                     name="category"
                     required
                     (click)="onClickedCategory(CategoryType.NEEDS); typehead.clear()"
                     [value]="formConfig.categoryModal.needsName"
                     [(ngModel)]="selectedPaymentCategoryType">
              <label class="btn btn-outline-primary" for="needs">
                Needs
              </label>
            </div>
            <div class="col text-center">
              <input id="wants"
                     type="radio"
                     class="btn-check"
                     name="category"
                     required
                     (click)="onClickedCategory(CategoryType.WANTS);  typehead.clear();"
                     [value]="formConfig.categoryModal.wantsName"
                     [(ngModel)]="selectedPaymentCategoryType">
              <label class="btn btn-outline-primary" for="wants">
                Wants
              </label>
            </div>
          </div>
          <app-typehead #typehead
                        [style]="!selectedPaymentCategoryType ? 'display:none' : ''"
                        [paymentCategoryType]="selectedPaymentCategoryType"
                        [categoriesDto]="categoriesDto"
                        [selectedCategoryDto]="assignedCategoryDto"
                        [assignmentComment]="plannedPaymentDto.assignmentComment"
                        [isPaymentCategories]="true"
                        [isEditing]="isEditing"
                        [assignmentStatusCode]="assignmentStatusCode"
                        (validationEvent)="onTypeheadChanged($event)"
                        (categoryEvent)="onCategoryChanged($event)">
          </app-typehead>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="!(paymentActualInput.valid &&
                      paymentNameInput.valid &&
                      paymentEstimatedInput.valid &&
                      !isChildValid)"
        type="button"
        class="btn btn-outline-secondary mx-3"
        (click)="savePlannedPaymentAsDraft()">
        Save as draft
      </button>
      <button
        [disabled]="!(form.valid && isChildValid)"
        type="button"
        class="btn btn-outline-secondary"
        (click)="savePlannedPayment()">
        Save
      </button>
    </div>
  </ng-template>
</ng-template>
<app-error-modal #errorModal>
</app-error-modal>
