<div #paymentComponentPage>
  <ng-template [ngIf]="!paymentLoader"
               [ngIfElse]="loadedPaymentsBlock">
    <app-spinner-grow></app-spinner-grow>
  </ng-template>
  <ng-template #loadedPaymentsBlock>
    <div class="mb-3 row">
      <div class="mb-3"
           [ngClass]="paymentResponseModel.statusCode == requiredStatusCode ? 'col-md-6' : 'col'">
        <button type="button"
                class="btn btn-success"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Add payment"
                (click)="openModal()">
          <i class="bi bi-plus-circle"></i> Create
        </button>
      </div>
      <ng-template [ngIf]="paymentResponseModel.statusCode == requiredStatusCode">
        <div class="col-md-6 mb-3">
          <app-order [name]="'payment-order'"
                     [orderTypes]="appConfig.request.order.paymentTypes"
                     [excludedOrderTypes]="appConfig.request.order.excludedTypes"
                     [orderDirections]="appConfig.request.order.orderDirections"
                     (orderByEvent)="onOrderEvent($event)"
                     (orderDirectionEvent)="onOrderEvent($event)">
          </app-order>
        </div>
      </ng-template>
      <hr class="horizontal">
    </div>
    <ng-template [ngIf]="paymentResponseModel.statusCode == requiredStatusCode"
                 [ngIfElse]="errorPaymentsBlock">
      @for (payment of paymentsDto; track payment) {
        <div ngbAccordion>
          <div ngbAccordionItem
               [collapsed]="selectedPayment !== payment"
               [class.payment-border]="payment.isPaid">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton
                      (click)="onPaymentSelect(payment)"
                      class="light-gray-bg accordion-button-header">
                <table>
                  <tr class="table-header">
                    <th>Name</th>
                    <th [style.display]="displayMobileView() ? 'none' : ''">
                      Price (PLN)
                    </th>
                    <th [style.display]="displayMobileView() ? 'none' : ''">
                      Refund (PLN)
                    </th>
                    <th>Real (PLN)</th>
                  </tr>
                  <tr>
                    <td>{{ payment.name }}</td>
                    <td [style.display]="displayMobileView() ? 'none' : ''">
                      {{ format(payment.price) }}
                    </td>
                    <td [style.display]="displayMobileView() ? 'none' : ''">
                      {{ format(payment.split) }}
                    </td>
                    <td>{{ format(subtract(payment.price, payment.split).abs()) }}</td>
                  </tr>
                </table>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <div class="row">
                  <div [style.display]="payment.isPaid ? 'block' : 'none'"
                       class="mb-2 condition-container text-center">
                    <h6>Payment <strong>is paid</strong></h6>
                  </div>
                </div>
                <div [style.display]="displayMobileView() ? '' : 'none'"
                     class="row">
                  <div class="col-lg-6">
                    <div class="mb-3 condition-container">
                      <label for="payment-price">Price (PLN)
                      </label>
                      <input type="text"
                             id="payment-price"
                             class="form-control mb-2"
                             value="{{ format(payment.price) }}"
                             disabled>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3 condition-container">
                      <label for="payment-refund">Refund (PLN)
                      </label>
                      <input type="text"
                             id="payment-refund"
                             class="form-control mb-2"
                             value="{{ format(payment.split) }}"
                             disabled>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="mb-3 condition-container">
                      <div class="form-group">
                        <label for="payment-date-updated">Date updated
                        </label>
                        <input type="text"
                               id="payment-date-updated"
                               class="form-control mb-2"
                               value="{{DateUtils.formatWithTime(payment.dateUpdated)}}"
                               disabled>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <hr [style.display]="displayMobileView() ? '' : 'none'"
                        class="horizontal-light">
                    <div class="form-group">
                      <label for="planned-payment-category">Category
                      </label>
                      <div class="input-group mb-2">
                        <input type="text"
                               id="planned-payment-category"
                               class="form-control"
                               placeholder="Not assigned"
                               value="{{payment.assignment?.category?.name}}"
                               aria-describedby="basic-addon2"
                               disabled>
                        <div class="input-group-append">
                        <span class="input-group-text"
                              id="basic-addon2">{{ getPaymentType(payment.assignment, true, appConfig) }}</span>
                        </div>
                      </div>
                      <label for="planned-payment-description-assignment">Assignment comment</label>
                      <textarea type="text"
                                id="planned-payment-description-assignment"
                                class="form-control"
                                placeholder="{{payment.assignment ? '' : 'Not assigned'}}"
                                value="{{ payment.assignment?.comment }}"
                                disabled></textarea>
                    </div>
                  </div>
                </div>
                <div class="row mx-auto mt-3">
                  <div class="text-center payment-buttons">
                    <button
                      [style.display]="payment.isPaid ? 'block' : 'none'"
                      type="button"
                      class="btn btn-outline-secondary"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Switch to not paid status"
                      (click)="patchPaymentStatus(false, payment.id)">
                      <i class="bi bi-bag-x-fill"></i> Unpaid
                    </button>
                    <button
                      [style.display]="!payment.isPaid ? 'block' : 'none'"
                      type="button"
                      class="btn btn-outline-lightgreen"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Switch to paid status"
                      [disabled]="!payment.assignment"
                      (click)="patchPaymentStatus(true, payment.id)">
                      <i class="bi bi-bag-check-fill"></i> Paid
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-warning"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Edit payment"
                      (click)="paymentModal.open(payment)">
                      <i class="bi bi-pencil-square"></i> Edit
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Delete payment"
                      (click)="deleteModal.openWithPayment(payment)">
                      <i class="bi bi-trash3-fill"></i> Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
      @if (paymentTotalPages! > 1) {
        <app-pagination [name]="name"
                        [pageCount]="paymentTotalPages!"
                        [displayPageSize]="true"
                        [pageSizeOptions]="appConfig.request.pagination.defaultPageSizeOptions"
                        (pageSizeEvent)="onPageSizeEvent($event)"
                        (pageEvent)="onPageEvent($event)">

        </app-pagination>
      }
    </ng-template>
    <ng-template #errorPaymentsBlock>
      <app-error [errorType]="ErrorType.Request"
                 [errorImage]="ErrorImage.NotfoundFile"
                 [response]=" paymentResponseModel"
                 [notFoundErrorText]="formatString(appConfig.form.messages.notFound,'Regular payments ')">

      </app-error>
    </ng-template>
  </ng-template>
  <app-payment-modal #paymentModal
                     [idBudget]="idBudget"
                     [assignmentStatusCode]="assignmentStatusCode"
                     (refreshPaymentEvent)="onRefreshPayment(false)">

  </app-payment-modal>
  <app-delete-modal #deleteModal
                    (refreshPaymentEvent)="onRefreshPayment(false)">

  </app-delete-modal>
  <app-error-modal #errorModal>
  </app-error-modal>
</div>
