.spinner-grow-container {
  /*height: 100%;*/
  /*width: 100%;*/
  /*position: absolute;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
}
