<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">
      Proceed?
    </h3>
  </div>
  <div class="modal-body col-mx text-center">
    <h5>This action can't be undone!</h5>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="modal.close()">
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="delete()">
      Delete
    </button>
  </div>
</ng-template>
