#clear-btn {
  width: 11ex;
}

.nav-link {
  color: var(--bs-secondary);
}

#nav-tab-payment-category {
  margin-left: 3ex;
}

@media only screen and (max-width: 1400px) {
  #needs-column,
  #wants-column,
  #savings-column {
    flex: 1 0 50%;
  }
}

@media only screen and (max-width: 970px) {
  #needs-column,
  #wants-column,
  #savings-column {
    flex: 1 0 100%;
  }
}
