<div class="height-wrapper width-wrapper">
  <div class="component-wrapper component-bg">
    <div class="card mb-3">
      <div class="card-body">
        <div class="text-center ">
          <h3 class="card-title">Budgets</h3>
        </div>
        <form ngbAutofocus #form="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div [className]="ModalUtils.displayMarginFor(fromDate)">
                <div class="mr-5">
                  <div class="text-center">
                    <label for="from-date">From</label>
                  </div>
                  <div class="input-group">
                    <input
                      type="text"
                      id="from-date"
                      name="from-date"
                      class="form-control"
                      [(ngModel)]="fromDatePicker"
                      (ngModelChange)="DateUtils.validateOnDatesChanged(fromDate, toDate, fromDatePicker, toDatePicker)"
                      required
                      #fromDate="ngModel"
                      container="body"
                      placement="bottom-end"
                      ngbDatepicker
                      #dateStart="ngbDatepicker"
                      [ngClass]="{
                      'is-invalid': fromDate.invalid,
                      'is-valid': fromDate.valid }"/>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary bi bi-calendar3"
                              (click)="dateStart.toggle()"
                              type="button">
                      </button>
                    </div>
                    @if (fromDate.invalid) {
                      <div class="invalid-feedback">
                        <label *ngIf="fromDate.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="fromDate.errors?.['invalidRange']">
                          {{ formatString(formConfig.messages.range, "Date") }}
                        </label>
                        <label *ngIf="fromDate.errors?.['ngbDate']">
                          {{ formatString(formConfig.messages.invalid, "Date") }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback">
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div [className]="ModalUtils.displayMarginFor(toDate)">
                <div class="text-center">
                  <label for="to-date">To</label>
                </div>
                <div class="d-flex">
                  <div class="input-group">
                    <input
                      id="to-date"
                      name="to-date"
                      class="form-control"
                      [(ngModel)]="toDatePicker"
                      (ngModelChange)="DateUtils.validateOnDatesChanged(fromDate, toDate, fromDatePicker, toDatePicker)"
                      container="body"
                      placement="bottom-end"
                      required
                      #toDate="ngModel"
                      ngbDatepicker
                      #dateEnd="ngbDatepicker"
                      [ngClass]="{
                      'is-invalid': toDate.invalid,
                      'is-valid': toDate.valid }"/>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary bi bi-calendar3"
                              (click)="dateEnd.toggle()"
                              type="button">
                      </button>
                    </div>
                    @if (toDate.invalid) {
                      <div class="invalid-feedback">
                        <label *ngIf="toDate.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="toDate.errors?.['invalidRange']">
                          {{ formatString(formConfig.messages.range, "Date") }}
                        </label>
                        <label *ngIf="toDate.errors?.['ngbDate']">
                          {{ formatString(formConfig.messages.invalid, "Date") }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback">
                      </div>
                    }
                  </div>
                  <div class="mx-1"></div>
                  <div>
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Search budgets"
                            (click)="searchBudgets(false)"
                            [disabled]="form.invalid">
                      <i class="bi bi-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="mt-3 mb-1 text-center"
             [className]="buttonOptionsClass()">
          <div class="px-5">
            <button type="button"
                    [className]="innerWidth > appConfig.pageMobileWidth ? 'btn btn-success' : 'btn btn-success width-ex-20'"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Create budget"
                    (click)="budgetModal.open()">
              <i class="bi bi-box"></i> Create
            </button>
          </div>
          <div class="px-5">
            <button type="button"
                    [className]="innerWidth > appConfig.pageMobileWidth ? 'btn btn-success' : 'btn btn-success width-ex-20'"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Create multiple budgets"
                    (click)="budgetsModal.open()">
              <i class="bi bi-boxes"></i> Multiple
            </button>
          </div>
          @if (toCurrentYear) {
            <div class="px-5">
              <button type="button"
                      [className]="innerWidth > appConfig.pageMobileWidth ? 'btn btn-primary' : 'btn btn-primary width-ex-20'"
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Switch to current year"
                      (click)="searchBudgets(true)">
                <i class="bi bi-intersect"></i> Current
              </button>
            </div>
          }
        </div>
      </div>
    </div>
    <ng-template [ngIf]="!loaders.page"
                 [ngIfElse]="loadedDashboard">
      <div class="mt-5"></div>
      <app-spinner [size]="SpinnerSize.BIG"></app-spinner>
    </ng-template>
    <ng-template #loadedDashboard>
      <ng-template [ngIf]="responseModels.budgets.statusCode == appConfig.response.required.budgetStatus"
                   [ngIfElse]="errorBudgetsBlock">
        <div [className]="budgetCardContainerClass()">
          @for (budget of budgets; track budget.id; ) {
            <div class="card border-dark my-3 budget-card">
              <ng-template [ngIf]="!loaders.budgets && budget.id == idRefreshBudget"
                           [ngIfElse]="displayBudget">
                <div class="mx-auto my-auto">
                  <div class="my-3 mx-3">
                    <app-spinner-grow></app-spinner-grow>
                  </div>
                </div>
              </ng-template>
              <ng-template #displayBudget>
                <div class="card-header">
                  <h5>{{ budget.name }}</h5>
                </div>
                <div class="card-body text-dark">
                  <table>
                    <tr>
                      <td>Date start:</td>
                      <td>
                        <input type="text"
                               class="form-control"
                               value="{{DateUtils.format(budget.dateStart)}}"
                               disabled>
                      </td>
                    </tr>
                    <tr>
                      <td>Date end:</td>
                      <td>
                        <input type="text"
                               class="form-control"
                               value="{{DateUtils.format(budget.dateEnd)}}"
                               disabled>
                      </td>
                    </tr>
                  </table>
                  <div class="budget-buttons mt-3 mb-1">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Details"
                            [routerLink]="'/budget'"
                            [queryParams]="{id: budget.id}">
                      <i class="bi bi-clipboard-data-fill"></i>
                    </button>
                    <button type="button"
                            class="btn btn-outline-warning"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Edit budget"
                            (click)="budgetModal.open(budget)">
                      <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button"
                            class="btn btn-outline-danger"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Delete budget"
                            (click)="deleteModal.openWithBudget(budget)">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </div>
                </div>
              </ng-template>
            </div>
          }
        </div>
      </ng-template>
      <ng-template #errorBudgetsBlock>
        <app-error [errorType]="ErrorType.Request"
                   [errorImage]="ErrorImage.NotfoundFile"
                   [response]="responseModels.budgets"
                   [notFoundErrorText]="formatString(appConfig.form.messages.notFound, 'Budgets')">
        </app-error>
      </ng-template>
    </ng-template>
    <div class="row mt-3">
      <div class="col">
        <div class="card text-center mb-3">
          <div class="card-header">
            Statistics
          </div>
          <div class="card-body">
            <ng-template [ngIf]="!loaders.budgetCategories"
                         [ngIfElse]="loadedCategories">
              <div class="my-5">
                <app-spinner-grow></app-spinner-grow>
              </div>
            </ng-template>
            <ng-template #loadedCategories>
              <div class="text-start">
                <label for="general-categories">Budget categories</label>
              </div>
              <div class="mb-2 mx-3">
                <div id="general-categories" class="mx-auto">
                  <ng-template [ngIf]="responseModels.budgetCategories.statusCode != 200"
                               [ngIfElse]="displayCategoriesChart">
                    <app-error [errorType]="ErrorType.Application"
                               [errorImage]="ErrorImage.ChartIcon"
                               [notFoundErrorText]="'Unable to fetch budget categories data'">
                    </app-error>
                  </ng-template>
                  <ng-template #displayCategoriesChart>
                    <div [className]="isMobileView() ? 'doughnut-height-m' : 'mobile-doughnut-height'">
                      <ngx-charts-pie-grid
                        [results]="chartData.budgetCategories"
                        [animations]="true"
                        [customColors]="[
                         {name: 'Needs',value: '#ff3d00'},
                         {name: 'Wants',value: '#1f7bc6'},
                         {name: 'Savings',value: '#00b862'},
                       ]">
                      </ngx-charts-pie-grid>
                    </div>
                  </ng-template>
                </div>
              </div>
            </ng-template>
            <ng-template [ngIf]="!loaders.budgetSummary"
                         [ngIfElse]="loadedSummary">
              <div class="my-5">
                <app-spinner-grow></app-spinner-grow>
              </div>
            </ng-template>
            <ng-template #loadedSummary>
              <div class="text-start">
                <label for="budget-summary">Budget summary</label>
              </div>
              <div id="budget-summary" class="mx-2 my-2"
                   [className]="getPieChartClassFor(chartData.budgetCategories, isMobileView())">
                <ng-template [ngIf]="responseModels.budgetSummary.statusCode != 200"
                             [ngIfElse]="displaySummaryCharts">
                  <app-error [errorType]="ErrorType.Application"
                             [errorImage]="ErrorImage.ChartIcon"
                             [notFoundErrorText]="'Unable to fetch budget summary data'">
                  </app-error>
                </ng-template>
                <ng-template #displaySummaryCharts>
                  <div class="mt-3">
                    <ul ngbNav class="nav-tabs">
                      <li ngbNavItem>
                        <button ngbNavLink (click)="incomeStatisticTab = IncomeStatisticsTab.BudgetTab">Wage</button>
                      </li>
                      <li ngbNavItem>
                        <button ngbNavLink (click)="incomeStatisticTab = IncomeStatisticsTab.SurplusTab">Surplus
                        </button>
                      </li>
                    </ul>
                    <ng-container [ngSwitch]="incomeStatisticTab">
                      <ng-container *ngSwitchCase="IncomeStatisticsTab.BudgetTab">
                        <div class="mt-4 mb-2 mx-auto mobile-doughnut-height-l">
                          <ngx-charts-line-chart
                            [results]="chartData.budgetWage"
                            [scheme]="'picnic'"
                            [animations]="true"
                            [xAxis]="true"
                            [yAxis]="true"
                            [yAxisTickFormatting]="formatAxisY">
                          </ngx-charts-line-chart>
                        </div>
                      </ng-container>
                      <ng-container *ngSwitchCase="IncomeStatisticsTab.SurplusTab">
                        <div class="mt-4 mb-2 mx-auto mobile-doughnut-height-l">
                          <ngx-charts-line-chart
                            [results]="chartData.budgetWage"
                            [scheme]="'vivid'"
                            [animations]="true"
                            [xAxis]="true"
                            [yAxis]="true"
                            [yAxisTickFormatting]="formatAxisY">
                          </ngx-charts-line-chart>
                        </div>
                      </ng-container>
                    </ng-container>
                  </div>
                  <div class="mt-3">
                    <ul ngbNav class="nav-tabs">
                      <li ngbNavItem>
                        <button ngbNavLink (click)="paymentStatisticTab = PaymentStatisticsTab.RegularTab">Regular
                          payments
                        </button>
                      </li>
                      <li ngbNavItem>
                        <button ngbNavLink (click)="paymentStatisticTab = PaymentStatisticsTab.PlannedTab">Planned
                          payments
                        </button>
                      </li>
                    </ul>
                    <ng-container [ngSwitch]="paymentStatisticTab">
                      <ng-container *ngSwitchCase="PaymentStatisticsTab.RegularTab">
                      </ng-container>
                      <ng-container *ngSwitchCase="PaymentStatisticsTab.PlannedTab">
                      </ng-container>
                    </ng-container>
                  </div>
                </ng-template>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-budget-modal #budgetModal
                    (refreshPageEvent)="reloadPage()"
                    (updateBudgetEvent)="updateBudget($event)">

  </app-budget-modal>
  <app-budgets-modal #budgetsModal
                     (refreshPageEvent)="reloadPage()">

  </app-budgets-modal>
  <app-delete-modal #deleteModal
                    (indexPageEvent)="reloadPage()">

  </app-delete-modal>
</div>
<app-error-modal #errorModal>

</app-error-modal>
