/* You can add global styles to this file, and also import other style files */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
}

.height-wrapper {
  min-height: 80vh;
}

.width-wrapper {
  border-radius: 1ex;
  background-color: white;
  max-width: 180ex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.component-wrapper {
  max-width: 180ex;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 3ex;
}

table {
  width: 100%;
}

table tr th {
  font-weight: normal;
}

table tr th:first-child {
  width: 40%;
  min-width: 40%;
}

table tr th {
  min-width: 20%;
}


.table-header {
  font-size: 1.4ex;
}

.accordion-button-header {
  padding: 1.5ex 1.5ex 1.5ex 1.5ex;
}

.accordion {
  margin-bottom: 1.2ex;
}

.accordion-body {
  padding: 2ex 2ex 2ex 2ex;
}

.budget-buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3ex;
  grid-auto-flow: row;
}

.budget-button-options-2-cols {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  justify-content: center;
  gap: 3ex;
  grid-auto-flow: row;
}

.budget-button-options-3-cols {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  justify-content: center;
  gap: 3ex;
  grid-auto-flow: row;
}

.input-group-append button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-append span {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

div.ngb-dp-weekday {
  color: #495057;
}

.ngb-dp-arrow-btn {
  color: #6c757d;
}

.flex-absolute-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 770px) {
  .width-wrapper {
    width: 92%;
  }

  .component-wrapper {
    padding: 2ex;
  }
}
