<div class="card text-center h-100 height-wrapper">
  <div class="card-header">
    {{ displayName }}
  </div>
  <div id="{{type.valueOf()}}-card" class="card-body h-100">
    <ng-template [ngIf]="!categoriesLoader"
                 [ngIfElse]="loadedPaymentsBlock">
      <app-spinner-grow></app-spinner-grow>
    </ng-template>
    <ng-template #loadedPaymentsBlock>
      <ng-template
        [ngIf]="categoryResponseModel.statusCode == appConfig.response.required.categoryStatus"
        [ngIfElse]="errorPaymentsBlock">
        @if (categoriesDto && categoriesDto!.length > 0) {
          <div class="mb-3">
            <app-order [name]="'payment-order'"
                       [orderTypes]="appConfig.request.order.paymentCategoryTypes"
                       [excludedOrderTypes]="appConfig.request.order.excludedTypes"
                       [orderDirections]="appConfig.request.order.orderDirections"
                       (orderByEvent)="onOrderEvent($event)"
                       (orderDirectionEvent)="onOrderEvent($event)">
            </app-order>
          </div>
          <div class="mb-3">
            <button
              class="btn btn-success"
              (click)="categoryModal.open(type.valueOf())">
              <i class="bi bi-plus-circle"></i> Create
            </button>
            <hr class="horizontal">
          </div>
          @for (category of categoriesDto; track category) {
            <div ngbAccordion>
              <div ngbAccordionItem
                   [collapsed]="selectedCategory !== category">
                <h2 ngbAccordionHeader>
                  <button ngbAccordionButton
                          (click)="selectedCategory = category"
                          class="light-gray-bg accordion-button-header">
                    <table>
                      <tr class="table-header">
                        <th>Name</th>
                      </tr>
                      <tr>
                        <td>{{ category.name }}</td>
                      </tr>
                    </table>
                  </button>
                </h2>
                <div ngbAccordionCollapse>
                  <div ngbAccordionBody>
                    <div class="row">
                      <div class="form-group">
                        <label for="category-date-updated">Date updated
                        </label>
                        <input type="text"
                               id="category-date-updated"
                               class="form-control mb-2"
                               [value]="DateUtil.formatWithTime(category.dateUpdated)"
                               disabled>
                        <label for="category-comment">Description</label>
                        <textarea type="text"
                                  id="category-comment"
                                  class="form-control"
                                  [value]="category.description"
                                  disabled>
                        </textarea>
                      </div>
                      <div class="mt-3">
                        <button
                          type="button"
                          class="btn btn-outline-warning mx-2 my-1"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Edit category"
                          (click)="categoryModal.open(type.valueOf(), category)">
                          <i class="bi bi-pencil-square"></i> Edit
                        </button>
                        <button
                          type="button"
                          class="btn btn-outline-danger mx-2 my-1"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Delete category"
                          (click)="deleteModal.openWithCategory(category)">
                          <i class="bi bi-trash3-fill"></i> Delete
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          }
          @if (categoriesTotalPages! > 0) {
            <div class="w-100 pb-5"></div>
            <div class="w-100 pb-5"></div>
            <div class="display-bottom mb-3 mx-2">
              <app-pagination [name]="'category-paginate'"
                              [pageCount]="categoriesTotalPages!"
                              [displayPageSize]="true"
                              [pageSizeOptions]="appConfig.request.pagination.categoriesPageSizeOptions"
                              (pageSizeEvent)="onPageSizeEvent($event)"
                              (pageEvent)="onPageEvent($event)">

              </app-pagination>
            </div>
          }
        } @else {
          <div class="my-5">
            <i class="bi bi-clipboard-x"></i>
            <p>Searched category not found</p>
          </div>
        }
      </ng-template>
      <ng-template #errorPaymentsBlock>
        <app-error [response]=" categoryResponseModel"
                   [notFoundErrorText]="formatString(appConfig.form.messages.notFound,'Categories data')">

        </app-error>
      </ng-template>
    </ng-template>
    <app-category-modal #categoryModal
                        (categoryChangeTypeEvent)="onCategoryChange($event)">

    </app-category-modal>
    <app-delete-modal #deleteModal
                      (refreshCategoryEvent)="onRefreshCategories()">

    </app-delete-modal>
    <app-error-modal #errorModal>
    </app-error-modal>
  </div>
</div>
