<div class="component-wrapper component-bg">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card">
        <div class="card-body p-5 text-center">
          <ng-container [ngSwitch]="formType">
            <ng-container *ngSwitchCase="FormType.REGISTER">
              <form #userRegisterForm="ngForm">
                <div class="mb-5 mt-5 pb-4">
                  <h2 class="fw-bold mb-2 text-uppercase">Sign up</h2>
                  <p class="mb-5">Please enter your data</p>
                  <div [className]="ModalUtils.displayMarginFor(registerEmailInput)">
                    <div class="text-start">
                      <label for="register-email">Email</label>
                      <span class="text-danger">*</span>
                    </div>
                    <input
                      type="email"
                      id="register-email"
                      name="register-email"
                      class="form-control"
                      [(ngModel)]="registerForm.email"
                      [disabled]="loaders.register"
                      required
                      minlength="{{ formConfig.registerForm.email.minLength }}"
                      maxlength="{{ formConfig.registerForm.email.maxLength }}"
                      pattern="{{formConfig.regex.email}}"
                      #registerEmailInput="ngModel"
                      [ngClass]="{
                        'is-invalid': registerEmailInput.invalid &&
                        (registerEmailInput.dirty || registerEmailInput.touched),
                        'is-valid': registerEmailInput.valid }"/>
                    @if (registerEmailInput.invalid &&
                    (registerEmailInput.dirty || registerEmailInput.touched)) {
                      <div class="invalid-feedback text-start d-grid">
                        <label *ngIf="registerEmailInput.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="registerEmailInput.errors?.['pattern']">
                          {{ formatString(formConfig.messages.invalid, "Email") }}
                        </label>
                        <label *ngIf="registerEmailInput.errors?.['minlength']">
                          {{ formatString(formConfig.messages.minLength, formConfig.registerForm.email.minLength) }}
                        </label>
                        <label *ngIf="registerEmailInput.errors?.['maxlength']">
                          {{ formatString(formConfig.messages.maxLength, formConfig.registerForm.email.maxLength) }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback"></div>
                    }
                  </div>
                  <div [className]="ModalUtils.displayMarginFor(registerLoginInput)">
                    <div class="text-start">
                      <label for="register-login">Login</label>
                      <span class="text-danger">*</span>
                    </div>
                    <input
                      type="text"
                      id="register-login"
                      name="register-login"
                      class="form-control"
                      [(ngModel)]="registerForm.login"
                      [disabled]="loaders.register"
                      required
                      minlength="{{ formConfig.registerForm.login.minLength }}"
                      maxlength="{{ formConfig.registerForm.login.maxLength }}"
                      pattern="{{formConfig.regex.loginOrEmail}}"
                      #registerLoginInput="ngModel"
                      [ngClass]="{
                        'is-invalid': registerLoginInput.invalid &&
                        (registerLoginInput.dirty || registerLoginInput.touched),
                        'is-valid': registerLoginInput.valid }"/>
                    @if (registerLoginInput.invalid &&
                    (registerLoginInput.dirty || registerLoginInput.touched)) {
                      <div class="invalid-feedback text-start d-grid">
                        <label *ngIf="registerLoginInput.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="registerLoginInput.errors?.['pattern']">
                          {{ formatString(formConfig.messages.invalid, "Login") }}
                        </label>
                        <label *ngIf="registerLoginInput.errors?.['minlength']">
                          {{ formatString(formConfig.messages.minLength, formConfig.registerForm.login.minLength) }}
                        </label>
                        <label *ngIf="registerLoginInput.errors?.['maxlength']">
                          {{ formatString(formConfig.messages.maxLength, formConfig.registerForm.login.maxLength) }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback"></div>
                    }
                  </div>
                  <div [className]="ModalUtils.displayMarginFor(registerPasswordInput)">
                    <div class="text-start">
                      <label for="register-password">Password</label>
                      <span class="text-danger">*</span>
                    </div>
                    <div class="input-group">
                      <input
                        [type]="showPassword ? 'text' : 'password'"
                        id="register-password"
                        name="register-password"
                        class="form-control"
                        [(ngModel)]="registerForm.password"
                        [disabled]="loaders.register"
                        (ngModelChange)="passwordUtil.testPasswords(registerPasswordInput, registerRepeatPasswordInput)"
                        required
                        #registerPasswordInput="ngModel"
                        [ngClass]="{
                        'is-invalid': registerPasswordInput.invalid &&
                        (registerPasswordInput.dirty || registerPasswordInput.touched),
                        'is-valid': registerPasswordInput.valid }"/>
                      <div class="input-group-append">
                        <span class="input-group-text"
                              (click)="onPasswordDisplay()">
                          <ng-template [ngIf]="showPassword"
                                       [ngIfElse]="hide">
                            <i class="bi bi-eye-slash"></i>
                          </ng-template>
                          <ng-template #hide>
                            <i class="bi bi-eye"></i>
                          </ng-template>
                        </span>
                      </div>
                    </div>
                    @if (registerPasswordInput.invalid &&
                    (registerPasswordInput.dirty || registerPasswordInput.touched)) {
                      <div class="invalid-feedback text-start d-grid">
                        <label *ngIf="registerPasswordInput.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="registerPasswordInput.errors?.['pattern']">
                          {{ formConfig.messages.passTooWeak }}
                        </label>
                        <label *ngIf="registerPasswordInput.errors?.['passNotMatch']">
                          {{ formConfig.messages.passNotMatch }}
                        </label>
                        <label *ngIf="registerPasswordInput.errors?.['minlength']">
                          {{ formatString(formConfig.messages.minLength, formConfig.registerForm.password.minLength) }}
                        </label>
                        <label *ngIf="registerPasswordInput.errors?.['maxlength']">
                          {{ formatString(formConfig.messages.maxLength, formConfig.registerForm.password.maxLength) }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback"></div>
                    }
                  </div>
                  <ul class="text-start text-danger mb-4">
                    <li [style]="passwordUtil.hasSpecialCharacter(registerForm.password) ? 'display: none' : ''">
                      Password should have special character
                    </li>
                    <li [style]="passwordUtil.hasSmallCharacters(registerForm.password) ? 'display: none' : ''">Password
                      should have 3 small characters
                    </li>
                    <li [style]="passwordUtil.hasBigCharacters(registerForm.password) ? 'display: none' : ''">Password
                      should have 2 upper characters
                    </li>
                    <li [style]="passwordUtil.hasNumbers(registerForm.password) ? 'display: none' : ''">Password should
                      have 2 numbers
                    </li>
                  </ul>
                  <div [className]="ModalUtils.displayMarginFor(registerRepeatPasswordInput)">
                    <div class="text-start">
                      <label for="register-password-repeat">Repeat password</label>
                      <span class="text-danger">*</span>
                    </div>
                    <div class="input-group">
                      <input
                        [type]="showPassword ? 'text' : 'password'"
                        id="register-password-repeat"
                        name="register-password-repeat"
                        class="form-control"
                        [(ngModel)]="repeatPassword"
                        [disabled]="loaders.register"
                        (ngModelChange)="passwordUtil.testPasswords(registerPasswordInput, registerRepeatPasswordInput)"
                        required
                        #registerRepeatPasswordInput="ngModel"
                        [ngClass]="{
                        'is-invalid': registerRepeatPasswordInput.invalid &&
                        (registerRepeatPasswordInput.dirty || registerRepeatPasswordInput.touched),
                        'is-valid': registerRepeatPasswordInput.valid }"/>
                      <div class="input-group-append">
                        <span class="input-group-text"
                              (click)="onPasswordDisplay()">
                          <ng-template [ngIf]="showPassword"
                                       [ngIfElse]="hide">
                            <i class="bi bi-eye-slash"></i>
                          </ng-template>
                          <ng-template #hide>
                            <i class="bi bi-eye"></i>
                          </ng-template>
                        </span>
                      </div>
                    </div>
                    @if (registerRepeatPasswordInput.invalid &&
                    (registerRepeatPasswordInput.dirty || registerRepeatPasswordInput.touched)) {
                      <div class="invalid-feedback text-start d-grid">
                        <label *ngIf="registerRepeatPasswordInput.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="registerRepeatPasswordInput.errors?.['pattern']">
                          {{ formConfig.messages.passTooWeak }}
                        </label>
                        <label *ngIf="registerRepeatPasswordInput.errors?.['passNotMatch']">
                          {{ formConfig.messages.passNotMatch }}
                        </label>
                        <label *ngIf="registerRepeatPasswordInput.errors?.['minlength']">
                          {{ formatString(formConfig.messages.minLength, formConfig.registerForm.password.minLength) }}
                        </label>
                        <label *ngIf="registerRepeatPasswordInput.errors?.['maxlength']">
                          {{ formatString(formConfig.messages.maxLength, formConfig.registerForm.password.maxLength) }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback"></div>
                    }
                  </div>
                </div>
                <div class="mb-5 pb-2">
                  <ng-template [ngIf]="!loaders.register"
                               [ngIfElse]="displayRegisterLoader">
                    <button type="button"
                            name="sign-in"
                            class="btn btn-outline-secondary btn-lg px-5"
                            (click)="register();"
                            [disabled]="!userRegisterForm.valid">
                      Sign in
                    </button>
                  </ng-template>
                  <ng-template #displayRegisterLoader>
                    <button type="button"
                            name="sign-in"
                            class="btn btn-outline-secondary btn-lg px-5"
                            [disabled]="loaders.register">
                      <app-spinner [size]="SpinnerSize.SMALL"></app-spinner>
                    </button>
                  </ng-template>
                </div>
                <p class="mb-0">
                  You have already account?
                </p>
                <button type="button"
                        name="login-page"
                        class="btn btn-outline-secondary"
                        routerLink="/login"
                        [disabled]="loaders.register">
                  Login Page
                </button>
              </form>
            </ng-container>
            <ng-container *ngSwitchCase="FormType.CONFIRM_EMAIL">
              <form #userConfirmForm="ngForm">
                <div class="mb-5 mt-5 pb-4">
                  <h2 class="fw-bold mb-2 text-uppercase">Confirm email</h2>
                  <p class="mb-5">Please type your code from email to complete registration</p>
                  <div [style]="displayEmailInput() ? '' : 'display:none'"
                       [className]="ModalUtils.displayMarginFor(verifyEmailInput)">
                    <div class="text-start">
                      <label for="verify-email">Email</label>
                      <span class="text-danger">*</span>
                    </div>
                    <input
                      type="email"
                      id="verify-email"
                      name="verify-email"
                      class="form-control"
                      [(ngModel)]="registerForm.email"
                      [disabled]="loaders.confirm"
                      required
                      minlength="{{ formConfig.registerForm.email.minLength }}"
                      maxlength="{{ formConfig.registerForm.email.maxLength }}"
                      pattern="{{formConfig.regex.email}}"
                      #verifyEmailInput="ngModel"
                      [ngClass]="{
                        'is-invalid': verifyEmailInput.invalid &&
                        (verifyEmailInput.dirty || verifyEmailInput.touched),
                        'is-valid': verifyEmailInput.valid }"/>
                    @if (verifyEmailInput.invalid &&
                    (verifyEmailInput.dirty || verifyEmailInput.touched)) {
                      <div class="invalid-feedback text-start d-grid">
                        <label *ngIf="verifyEmailInput.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="verifyEmailInput.errors?.['pattern']">
                          {{ formatString(formConfig.messages.invalid, "Email") }}
                        </label>
                        <label *ngIf="verifyEmailInput.errors?.['minlength']">
                          {{ formatString(formConfig.messages.minLength, formConfig.registerForm.email.minLength) }}
                        </label>
                        <label *ngIf="verifyEmailInput.errors?.['maxlength']">
                          {{ formatString(formConfig.messages.maxLength, formConfig.registerForm.email.maxLength) }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback"></div>
                    }
                  </div>
                  <div [className]="ModalUtils.displayMarginFor(verificationCodeInput)">
                    <div class="text-start">
                      <label for="verify-code">Code</label>
                      <span class="text-danger">*</span>
                    </div>
                    <input
                      type="email"
                      id="verify-code"
                      name="verify-code"
                      class="form-control text-center"
                      [(ngModel)]="confirmationCode"
                      [disabled]="loaders.confirm"
                      required
                      minlength="{{ formConfig.registerForm.code.minLength }}"
                      maxlength="{{ formConfig.registerForm.code.maxLength }}"
                      pattern="{{formConfig.regex.codes.emailConfirm}}"
                      #verificationCodeInput="ngModel"
                      [ngClass]="{
                        'is-invalid': verificationCodeInput.invalid &&
                        (verificationCodeInput.dirty || verificationCodeInput.touched),
                        'is-valid': verificationCodeInput.valid }"/>
                    @if (verificationCodeInput.invalid &&
                    (verificationCodeInput.dirty || verificationCodeInput.touched)) {
                      <div class="invalid-feedback text-start d-grid">
                        <label *ngIf="verificationCodeInput.errors?.['required']">
                          {{ formConfig.messages.required }}
                        </label>
                        <label *ngIf="verificationCodeInput.errors?.['pattern']">
                          {{ formatString(formConfig.messages.invalid, "Code") }}
                        </label>
                        <label *ngIf="verificationCodeInput.errors?.['minlength']">
                          {{ formatString(formConfig.messages.minLength, formConfig.registerForm.code.minLength) }}
                        </label>
                        <label *ngIf="verificationCodeInput.errors?.['maxlength']">
                          {{ formatString(formConfig.messages.maxLength, formConfig.registerForm.code.maxLength) }}
                        </label>
                      </div>
                    } @else {
                      <div class="valid-feedback"></div>
                    }
                  </div>
                </div>
                <div class="mb-5 pb-2">
                  <ng-template [ngIf]="!loaders.confirm"
                               [ngIfElse]="displayConfirmLoader">
                    <button type="button"
                            name="confirm-register"
                            class="btn btn-outline-secondary btn-lg px-5"
                            (click)="confirm();"
                            [disabled]="!userConfirmForm.valid">
                      Confirm
                    </button>
                  </ng-template>
                  <ng-template #displayConfirmLoader>
                    <button type="button"
                            name="confirm-register"
                            class="btn btn-outline-secondary btn-lg px-5"
                            [disabled]="loaders.confirm">
                      <app-spinner [size]="SpinnerSize.SMALL"></app-spinner>
                    </button>
                  </ng-template>
                </div>
                <p class="mb-0">
                  You have already account?
                </p>
                <button type="button"
                        class="btn btn-outline-secondary"
                        name="login-page"
                        routerLink="/login"
                        [disabled]="loaders.confirm">
                  Login Page
                </button>
              </form>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

