<form ngbAutofocus #form="ngForm" [className]="!isPaymentCategories ? 'form-control' : ''">
  <div class="row mb-2">
    <div class="my-1">
      <label for="category-model">Name</label>
      <span class="text-danger">*</span>
      <div class="input-group">
        <input
               id="category-model"
               name="category-model"
               type="text"
               class="form-control"
               [(ngModel)]="selectedCategoryDto"
               [resultFormatter]="typeaheadFormatter"
               [inputFormatter]="typeaheadFormatter"
               [ngbTypeahead]="typeaheadSearch"
               (focus)="focusSubject.next($any($event).target.value)"
               (click)="clickSubject.next($any($event).target.value)"
               (ngModelChange)="onTypeaheadNameChange()"
               placeholder="Search for a category..."
               [ngModelOptions]="{standalone: false}"/>
        <div class="input-group-append">
          <button class="btn btn-outline-danger"
                  type="button"
                  (click)="clear()">
            <i class="bi bi-x-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row"
       [style]="selectedCategoryDto.id ? '' : 'display: none'">
    <div class="col-md-6 mb-2">
      <label for="category-description">Category description</label>
      <textarea
        id="category-description"
        class="form-control"
        rows="4"
        placeholder="No description"
        required
        [value]="selectedCategoryDto.description"
        disabled>
      </textarea>
    </div>
    <div class="col-md-6">
      <div [className]="ModalUtils.displayMarginFor(assignmentCommentInput)">
        <label for="category-assignment-comment">Comment</label>
        <textarea
          id="category-assignment-comment"
          name="category-assignment-comment"
          class="form-control"
          rows="4"
          minlength="{{ formConfig.paymentModal.comment.minLength }}"
          maxlength="{{ formConfig.paymentModal.comment.maxLength }}"
          #assignmentCommentInput="ngModel"
          [(ngModel)]="assignmentComment"
          (ngModelChange)="onTypeaheadCommentChange()"
          [ngClass]="{'is-invalid': assignmentCommentInput.invalid &&
                     (assignmentCommentInput.dirty || assignmentCommentInput.touched),
                     'is-valid': assignmentCommentInput.valid }">
          </textarea>
        @if (assignmentCommentInput.invalid &&
        (assignmentCommentInput.dirty || assignmentCommentInput.touched)) {
          <div class="invalid-feedback">
            <label *ngIf="assignmentCommentInput.errors?.['minlength']">
              {{ formatString(formConfig.messages.minLength, formConfig.paymentModal.comment.minLength) }}
            </label>
            <label *ngIf="assignmentCommentInput.errors?.['maxlength']">
              {{ formatString(formConfig.messages.maxLength, formConfig.paymentModal.comment.maxLength) }}
            </label>
          </div>
        }
      </div>
    </div>
  </div>
</form>
