<ng-template #categoryModal let-modal>
  @if (!displayLoader) {
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        @if (isEditing) {
          Edit {{ categoryType }} category
        } @else {
          Add {{ categoryType }} category
        }
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.close()">
      </button>
    </div>
  }
  <ng-template [ngIf]="displayLoader"
               [ngIfElse]="loadedBody">
    <div class="my-5"></div>
    <app-spinner [size]="SpinnerSize.MEDIUM"></app-spinner>
    <div class="mt-5 text-center">
      <p>Category is saving...</p>
    </div>
    <div class="mb-3"></div>
  </ng-template>
  <ng-template #loadedBody>
    <div class="modal-body">
      <form ngbAutofocus #form="ngForm"
            (keydown.enter)="form.valid ? save() : null">
        <div class="col-mx">
          <div [className]="ModalUtils.displayMarginFor(categoryNameInput)">
            <label for="income-name">Name</label>
            <span class="text-danger">*</span>
            <input
              type="text"
              id="income-name"
              name="income-name"
              class="form-control"
              [(ngModel)]="categoryDto.name"
              required
              minlength="{{ formConfig.incomeModal.name.minLength }}"
              maxlength="{{ formConfig.incomeModal.name.maxLength }}"
              #categoryNameInput="ngModel"
              [ngClass]="{
              'is-invalid': categoryNameInput.invalid &&
                (categoryNameInput.dirty || categoryNameInput.touched),
              'is-valid': categoryNameInput.valid }"/>
            @if (categoryNameInput.invalid &&
            (categoryNameInput.dirty || categoryNameInput.touched)) {
              <div class="invalid-feedback">
                <label *ngIf="categoryNameInput.errors?.['required']">
                  {{ formConfig.messages.required }}
                </label>
                <label *ngIf="categoryNameInput.errors?.['minlength']">
                  {{ formatString(formConfig.messages.minLength, formConfig.incomeModal.name.minLength) }}
                </label>
                <label *ngIf="categoryNameInput.errors?.['maxlength']">
                  {{ formatString(formConfig.messages.maxLength, formConfig.incomeModal.name.maxLength) }}
                </label>
              </div>
            } @else {
              <div class="valid-feedback"></div>
            }
          </div>
          <ng-template [ngIf]="categoryType != CategoryType.INCOMES">
            @if (isEditing) {
              <label for="category-radiobuttons">Category type</label>
              <span class="text-danger">*</span>
              <div id="category-radiobuttons" class="mb-4">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="needs-category"
                    name="category"
                    value="{{formConfig.categoryModal.needsName}}"
                    [(ngModel)]="selectedCategoryName">
                  <label class="form-check-label" for="needs-category">
                    Needs
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="wants-category"
                    name="category"
                    value="{{formConfig.categoryModal.wantsName}}"
                    [(ngModel)]="selectedCategoryName">
                  <label class="form-check-label" for="wants-category">
                    Wants
                  </label>
                </div>
              </div>
            }
          </ng-template>
          <div [className]="ModalUtils.displayMarginFor(categoryCommentTextarea)">
            <label for="category-description">Description</label>
            <span class="text-danger">*</span>
            <textarea
              id="category-description"
              class="form-control"
              name="category-description"
              rows="8"
              required
              minlength="{{ formConfig.categoryModal.description.minLength }}"
              maxlength="{{ formConfig.categoryModal.description.maxLength }}"
              #categoryCommentTextarea="ngModel"
              [(ngModel)]="categoryDto.description"
              [ngClass]="{
                'is-invalid': categoryCommentTextarea.invalid &&
                  (categoryCommentTextarea.dirty || categoryCommentTextarea.touched),
                'is-valid': categoryCommentTextarea.valid }">
              </textarea>
            @if (categoryCommentTextarea.invalid &&
            (categoryCommentTextarea.dirty || categoryCommentTextarea.touched)) {
              <div class="invalid-feedback">
                <label *ngIf="categoryCommentTextarea.errors?.['required']">
                  {{ formConfig.messages.required }}
                </label>
                <label *ngIf="categoryCommentTextarea.errors?.['minlength']">
                  {{ formatString(formConfig.messages.minLength, formConfig.incomeModal.name.minLength) }}
                </label>
                <label *ngIf="categoryCommentTextarea.errors?.['maxlength']">
                  {{ formatString(formConfig.messages.maxLength, formConfig.paymentModal.comment.maxLength) }}
                </label>
              </div>
            }
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="form.invalid"
        type="button"
        class="btn btn-outline-secondary"
        (click)="save()">
        Save
      </button>
    </div>
  </ng-template>
</ng-template>
<app-error-modal #errorModal>
</app-error-modal>
