<div class="mx-auto">
  <form ngbAutofocus #form="ngForm">
    <div class="d-flex justify-content-center">
      <div class="mx-3">
        <button type="button"
                class="btn btn-outline-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Previous page"
                (click)="previous()"
                [disabled]="form.invalid">
          <i class="bi bi-caret-left-fill"></i>
        </button>
      </div>
      <div id="page-input" class="d-inline-flex align-items-center">
        <label class="mx-1">Page</label>
        <input
          type="text"
          id="page"
          name="page"
          class="form-control"
          [(ngModel)]="page"
          pattern="[0-9]*"
          required
          #pageInput="ngModel"
          [ngClass]="{
          'invalid-outline':
          pageInput.invalid}"/>
      </div>
      <div class="mx-3">
        <button type="button"
                class="btn btn-outline-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Next page"
                (click)="next()"
                [disabled]="form.invalid">
          <i class="bi bi-caret-right-fill"></i>
        </button>
      </div>
    </div>
  </form>
</div>
