<div class="height-wrapper width-wrapper">
  <div class="component-wrapper component-bg">
    <div class="card text-center mb-3">
      <div class="card-body">
        <ng-template [ngIf]="!budgetLoader"
                     [ngIfElse]="loadedBudgetBlock">
          <app-spinner-grow></app-spinner-grow>
        </ng-template>
        <ng-template #loadedBudgetBlock>
          <ng-template [ngIf]="responseModels.budget.statusCode == appConfig.response.required.budgetStatus"
                       [ngIfElse]="budgetErrorBlock">
            <h5 class="card-title">{{ budgetDto?.name }}</h5>
            <table>
              <tr>
                <td>Date start:</td>
                <td>
                  <input type="text"
                         class="form-control"
                         value="{{DateUtils.format(budgetDto?.dateStart)}}"
                         disabled>
                </td>
              </tr>
              <tr>
                <td>Date end:</td>
                <td>
                  <input type="text"
                         class="form-control"
                         value="{{DateUtils.format(budgetDto?.dateEnd)}}"
                         disabled>
                </td>
              </tr>
            </table>
            <div class="mt-3">
              <div class="mb-1 text-center"
                   [className]="isMobileView() ? 'budget-button-options-rows' : 'budget-button-options-4-cols'">
                <button type="button"
                        [className]="innerWidth > appConfig.pageMobileWidth ? 'btn btn-success' : 'btn btn-success width-ex-20'"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Add income"
                        (click)="appIncome.openModal()">
                  <i class="bi bi-cash-coin"></i> Income
                </button>
                <button type="button"
                        [className]="innerWidth > appConfig.pageMobileWidth ? 'btn btn-success' : 'btn btn-success width-ex-20'"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Add planned payment"
                        (click)="appPlannedPayment.openModal()">
                  <i class="bi bi-file-spreadsheet-fill"></i> Plan payment
                </button>
                <button type="button"
                        [className]="innerWidth > appConfig.pageMobileWidth ? 'btn btn-success' : 'btn btn-success width-ex-20'"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Add payment"
                        (click)="appPayment.openModal()">
                  <i class="bi bi-coin"></i> Payment
                </button>
                <button type="button"
                        [className]="innerWidth > appConfig.pageMobileWidth ? 'btn btn-danger' : 'btn btn-danger width-ex-20'"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Delete budget"
                        (click)="deleteModal.openWithBudget(budgetDto!)">
                  <i class="bi bi-trash3-fill"></i> Delete
                </button>
              </div>
              <ng-template
                [ngIf]="responseModels.budgetStats.statusCode != appConfig.response.required.budgetStatsStatus"
                [ngIfElse]="loadedStats">
                <div class="mt-5">
                  <app-error [response]="responseModels.budgetStats"
                             [notFoundErrorText]="'Budget statistics not found'">
                  </app-error>
                </div>
              </ng-template>
              <ng-template #loadedStats>
                <table class="mt-5" [style]="isMobileView() ? '' : 'display:none'">
                  <tr>
                    <td>
                      <strong>
                        Incomes
                      </strong>
                    </td>
                    <td>{{ format(budgetStatsDto?.income!.wage) }} PLN</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        Planned payments
                      </strong>
                    </td>
                    <td>{{ format(budgetStatsDto?.plannedPayment!.estimated) }} PLN</td>
                  </tr>
                  <tr>
                    <td>
                      <strong>
                        Regular payments
                      </strong>
                    </td>
                    <td>{{ format(budgetStatsDto?.regularPayment!.price) }} PLN</td>
                  </tr>
                </table>
                <table class="mt-5" [style]="isMobileView() ? 'display:none' : ''">
                  <tr class="w-100">
                    <td class="col-md-4">
                      <strong>
                        Incomes
                      </strong>
                    </td>
                    <td class="col-md-4">
                      <strong>
                        Planned payments
                      </strong>
                    </td>
                    <td class="col-md-4">
                      <strong>
                        Regular payments
                      </strong>
                    </td>
                  </tr>
                  <tr>
                    <td>{{ format(budgetStatsDto?.income!.wage) }} PLN</td>
                    <td>{{ format(budgetStatsDto?.plannedPayment!.estimated) }} PLN</td>
                    <td>{{ format(budgetStatsDto?.regularPayment!.price) }} PLN</td>
                  </tr>
                </table>
              </ng-template>
            </div>
          </ng-template>
          <ng-template #budgetErrorBlock>
            <app-error [response]="responseModels.budget"
                       [notFoundErrorText]="formatString(appConfig.form.messages.notFound,'Budget data')">

            </app-error>
          </ng-template>
        </ng-template>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card text-center mb-3">
          <div class="card-header">
            Incomes
          </div>
          <div id="incomes-card" class="card-body">
            <app-income #appIncome
                        [idBudget]="idBudget"
                        (refreshEvent)="onRefreshEvent($event)">

            </app-income>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-center mb-3">
          <div class="card-header">
            Planned payments
          </div>
          <div id="planned-payments-card" class="card-body">
            <app-planned-payment #appPlannedPayment
                                 [idBudget]="idBudget"
                                 (refreshEvent)="onRefreshEvent($event)">

            </app-planned-payment>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card text-center mb-lg-3">
          <div class="card-header">
            Payments
          </div>
          <div id="payments-card" class="card-body">
            <app-payment #appPayment
                         [idBudget]="idBudget"
                         (refreshEvent)="onRefreshEvent($event)">

            </app-payment>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card text-center mb-lg-3">
          <div class="card-header">
            Statistics
          </div>
          <div id="statistics-card" class="card-body">
          </div>
        </div>
      </div>
    </div>
    <app-delete-modal #deleteModal
                      (indexPageEvent)="onRedirectToIndex()">

    </app-delete-modal>
  </div>
</div>
<app-error-modal #errorModal>
</app-error-modal>
