.surplus-border {
  border: 0.2ex solid #3d8bfd;
  border-radius: 0.5ex;
}

.payment-border {
  border: 0.2ex solid #479f76;
  border-radius: 0.5ex;
}

.condition-container {
  margin-top: auto;
  margin-bottom: auto;
}

.condition-container p {
  margin: 0;
}

.buttons-container {
  margin-top: auto;
  margin-bottom: auto;
}

.budget-buttons {
  justify-items: center;
}

.income-buttons {
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto;
  gap: 3ex;
  grid-auto-flow: row;
}

.payment-buttons {
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto auto;
  gap: 3ex;
  grid-auto-flow: row;
}

label {
  display: table-row;
}

@media only screen and (max-width: 770px) {
  table tr th:first-child {
    width: 60%;
    min-width: 60%;
  }

  .table-header{
    font-size: 1.3ex;
  }

  tr td {
    font-size: 1.75ex;
  }
}
