.condition-container {
  margin-top: auto;
  margin-bottom: auto;
}

.condition-container p {
  margin: 0;
}

.buttons-container {
  margin-top: auto;
  margin-bottom: auto;
}

.budget-buttons {
  justify-items: center;
}

label {
  display: table-row;
}

.budget-button-options-4-cols {
  justify-content: normal;
}


.budget-overview-total {
  border-radius: 0 0 0.7ex 0.7ex;
  border: none;
}

@media only screen and (max-width: 475px) {
  .budget-buttons {
    gap: 0;
  }

  .budget-buttons button {
    font-size: 1.75ex;
  }
}
