.condition-container {
  margin-top: auto;
  margin-bottom: auto;
}

.condition-container p {
  margin: 0;
}

.buttons-container {
  margin-top: auto;
  margin-bottom: auto;
}

.budget-buttons {
  justify-items: center;
}

label {
  display: table-row;
}

.budget-button-options-4-cols {
  justify-content: normal;
}


.budget-overview-total {
  border-radius: 0 0 0.7ex 0.7ex;
  border: none;
}

.options-menu {
  position: absolute;
  top: 0;
  right: 0;
}

#overlay-menu {
  background-color: lightgray;
  right: 0.5ex;
  width: 20ex;
  top: 5ex;
}

@media only screen and (max-width: 475px) {
  .budget-buttons {
    gap: 0;
  }

  .budget-buttons button {
    font-size: 1.75ex;
  }
}
