<div class="height-wrapper width-wrapper">
  <div class="component-wrapper component-bg">
    <ng-template [ngIf]="!pageLoader.incomes" [ngIfElse]="loadedBlock">
      <app-spinner [size]="SpinnerSize.BIG"></app-spinner>
    </ng-template>
    <ng-template #loadedBlock>
      <ng-template [ngIf]="errorModels.budget.responseStatusCode == requiredStatusCode.budget"
                   [ngIfElse]="errorBudgetBlock">
        <div class="card text-center mb-3">
          <div class="card-body">
            <h5 class="card-title">{{ budget?.name }}</h5>
            <table>
              <tr>
                <td>Date start:</td>
                <td>
                  <input type="text"
                         class="form-control"
                         value="{{DateUtils.format(budget?.dateStart)}}"
                         disabled>
                </td>
              </tr>
              <tr>
                <td>Date end:</td>
                <td>
                  <input type="text"
                         class="form-control"
                         value="{{DateUtils.format(budget?.dateEnd)}}"
                         disabled>
                </td>
              </tr>
            </table>
              <div class="budget-buttons mt-3 mb-1 text-center">
                <button type="button"
                        class="btn btn-success"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Add payment">
                  <i class="bi bi-coin"></i> Payment
                </button>
                <button type="button"
                        class="btn btn-success"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Add income">
                  <i class="bi bi-cash-coin"></i> Income
                </button>
                <button type="button"
                        class="btn btn-danger"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Delete budget">
                  <i class="bi bi-trash3-fill"></i> Delete
                </button>
              </div>
            </div>
          </div>
      </ng-template>
      <ng-template #errorBudgetBlock>
        <app-error [errorModel]="errorModels.budget"></app-error>
      </ng-template>
      <ng-template [ngIf]="errorModels.incomes.responseStatusCode == requiredStatusCode.incomes"
                   [ngIfElse]="errorIncomeBlock">
        <div class="card text-center mb-lg-3">
          <div class="card-header">
            Incomes
          </div>
          <div class="card-body">
            @for (income of incomes; track income) {
              <div ngbAccordion>
                <div ngbAccordionItem
                     [collapsed]="selectedIncome !== income"
                     [class.surplus-border]="income.isSurplus">
                  <h2 ngbAccordionHeader>
                    <button ngbAccordionButton
                            (click)="selectedIncome = income"
                            class="light-gray-bg accordion-button-header">
                      <table>
                        <tr class="table-header">
                          <th>Name</th>
                          <th>Income (PLN)</th>
                          <th>Appropriation</th>
                          <th>Date created</th>
                        </tr>
                        <tr>
                          <th>{{ income.name }}</th>
                          <th>{{ NumberUtils.format(income.wage) }}</th>
                          <th>#Category</th>
                          <th>{{ DateUtils.format(income.dateUpdated) }}</th>
                        </tr>
                      </table>
                    </button>
                  </h2>
                  <div ngbAccordionCollapse>
                    <div ngbAccordionBody class="text-center">
                      <div class="row">
                        <div [style.display]="income.isSurplus ? 'block' : 'none'"
                             class="col-md-6 surplus-container">
                          <p>Income is surplus</p>
                        </div>
                        <div [class.col-md-6]="income.isSurplus">
                          <label
                            for="income-actions"
                            class="form-label group-label center-screen">Actions
                          </label>
                          <div
                            id="income-actions"
                            class="center-screen">
                            <button
                              type="button"
                              class="btn btn-warning"
                              data-bs-toggle="tooltip"
                              data-bs-placement="bottom"
                              title="Edit income">
                              <i class="bi bi-pencil-square"></i> Edit
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </ng-template>
      <ng-template #errorIncomeBlock>
        <app-error [errorModel]="errorModels.incomes"></app-error>
      </ng-template>
    </ng-template>
  </div>
</div>
