<ng-template #incomeModal let-modal>
  @if (!displayLoader) {
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        @if (isEditing) {
          Edit income
        } @else {
          Add income
        }
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.close()">
      </button>
    </div>
  }
  <ng-template [ngIf]="displayLoader"
               [ngIfElse]="loadedBody">
    <div class="my-5"></div>
    <app-spinner [size]="SpinnerSize.MEDIUM"></app-spinner>
    <div class="mt-5 text-center">
      <p>Income is saving...</p>
    </div>
    <div class="mb-3"></div>
  </ng-template>
  <ng-template #loadedBody>
    <div class="modal-body">
      <form ngbAutofocus #form="ngForm"
            (keydown.enter)="form.valid ? saveIncome(): null">
        <div class="col-mx">
          <div [className]="ModalUtils.displayMarginFor(incomeNameInput)">
            <label for="income-name">Name</label>
            <span class="text-danger">*</span>
            <input
              type="text"
              id="income-name"
              name="income-name"
              class="form-control"
              [(ngModel)]="incomeDto.name"
              required
              minlength="{{ formConfig.incomeModal.name.minLength }}"
              maxlength="{{ formConfig.incomeModal.name.maxLength }}"
              #incomeNameInput="ngModel"
              [ngClass]="{
              'is-invalid': incomeNameInput.invalid &&
                (incomeNameInput.dirty || incomeNameInput.touched),
              'is-valid': incomeNameInput.valid }"/>
            @if (incomeNameInput.invalid &&
            (incomeNameInput.dirty || incomeNameInput.touched)) {
              <div class="invalid-feedback">
                <label *ngIf="incomeNameInput.errors?.['required']">
                  {{ formConfig.messages.required }}
                </label>
                <label *ngIf="incomeNameInput.errors?.['minlength']">
                  {{ formatString(formConfig.messages.minLength, formConfig.incomeModal.name.minLength) }}
                </label>
                <label *ngIf="incomeNameInput.errors?.['maxlength']">
                  {{ formatString(formConfig.messages.maxLength, formConfig.incomeModal.name.maxLength) }}
                </label>
              </div>
            } @else {
              <div class="valid-feedback"></div>
            }
          </div>
          <div class="row">
            <div class="col-md-6">
              <div [className]="ModalUtils.displayMarginFor(incomeWageInput)">
                <label for="income-wage">Earnings</label>
                @if (!incomeDto.forSavings) {
                  <span class="text-danger">*</span>
                }
                <input
                  type="text"
                  id="income-wage"
                  name="income-wage"
                  class="form-control"
                  [(ngModel)]="incomeDto.earnings"
                  [disabled]="incomeDto.forSavings"
                  [required]="!incomeDto.forSavings"
                  maxlength="{{ formConfig.incomeModal.number.maxLength }}"
                  placeholder="{{ formConfig.incomeModal.placeholder }}"
                  (focus)="incomeWageInput.value && incomeWageInput.value[0] === '0' && incomeWageInput.value[1] !== '.'?
                      incomeDto.earnings = incomeWageInput.value.substring(1) : !incomeWageInput.value ? incomeDto.earnings = null : null;"
                  (focusout)="incomeWageInput.value && incomeWageInput.value[0] === '0' && incomeWageInput.value[1] !== '.' ?
                      incomeDto.earnings = incomeWageInput.value.substring(1) : null"
                  pattern="{{ formConfig.regex.money }}"
                  (ngModelChange)="validateSavings(incomeWageInput, incomeSavingsInput)"
                  #incomeWageInput="ngModel"
                  [ngClass]="{
                  'is-invalid':incomeWageInput.invalid &&
                    (incomeWageInput.dirty || incomeWageInput.touched),
                  'is-valid': incomeWageInput.valid }"/>
                @if (incomeWageInput.invalid &&
                (incomeWageInput.dirty || incomeWageInput.touched)) {
                  <div class="invalid-feedback">
                    <label *ngIf="incomeWageInput.errors?.['required']">
                      {{ formConfig.messages.required }}
                    </label>
                    <label *ngIf="incomeWageInput.errors?.['min']">
                      {{ formatString(formConfig.messages.minValue, formConfig.incomeModal.number.minValue) }}
                    </label>
                    <label *ngIf="incomeWageInput.errors?.['wageTooLow']">
                      {{ formConfig.messages.wageTooLow }}
                    </label>
                    <label *ngIf="incomeWageInput.errors?.['pattern']">
                      {{ formatString(formConfig.messages.invalidFormat, "number") }}
                    </label>
                  </div>
                }
              </div>
            </div>
            <div class="col-md-6">
              <div [className]="ModalUtils.displayMarginFor(incomeSavingsInput)">
                <label for="income-savings">Savings</label>
                @if (incomeDto.forSavings) {
                  <span class="text-danger">*</span>
                }
                <a #tooltipSavings="ngbTooltip"
                   class="info-tooltip"
                   [ngbTooltip]="tipSavingsContent"
                   (click)="tooltipSavings.open()">
                  <i class="bi bi-info-circle"></i>
                </a>
                <ng-template #tipSavingsContent>
                  <p class="text-start mb-1">
                    The savings field means: <i>amount of money you want to move to savings from income</i>.
                  </p>
                </ng-template>
                <input
                  type="text"
                  id="income-savings"
                  name="income-savings"
                  class="form-control"
                  [(ngModel)]="incomeDto.savings"
                  maxlength="{{ formConfig.incomeModal.number.maxLength }}"
                  placeholder="{{ formConfig.incomeModal.placeholder }}"
                  pattern="{{ formConfig.regex.money }}"
                  [required]="incomeDto.forSavings"
                  (focus)="incomeSavingsInput.value && incomeSavingsInput.value[0] === '0' && incomeSavingsInput.value[1] !== '.'?
                      incomeDto.savings = incomeSavingsInput.value.substring(1) : !incomeSavingsInput.value ? incomeDto.savings = null : null;"
                  (focusout)="incomeSavingsInput.value && incomeSavingsInput.value[0] === '0' && incomeSavingsInput.value[1] !== '.' ?
                      incomeDto.savings = incomeSavingsInput.value.substring(1) : null"
                  (ngModelChange)="validateSavings(incomeWageInput, incomeSavingsInput)"
                  #incomeSavingsInput="ngModel"
                  [ngClass]="{
                  'is-invalid':incomeSavingsInput.invalid &&
                    (incomeSavingsInput.dirty || incomeSavingsInput.touched),
                  'is-valid': incomeSavingsInput.valid }"/>
                @if (incomeSavingsInput.invalid &&
                (incomeSavingsInput.dirty || incomeSavingsInput.touched)) {
                  <div class="invalid-feedback">
                    <label *ngIf="incomeSavingsInput.errors?.['required']">
                      {{ formConfig.messages.required }}
                    </label>
                    <label *ngIf="incomeSavingsInput.errors?.['pattern']">
                      {{ formatString(formConfig.messages.invalidFormat, "number") }}
                    </label>
                    <label *ngIf="incomeSavingsInput.errors?.['savingsTooBig']">
                      {{ formConfig.messages.savingsTooBig }}
                    </label>
                    <label *ngIf="incomeSavingsInput.errors?.['maxlength']">
                      {{ formatString(formConfig.messages.maxLength, formConfig.incomeModal.number.maxLength) }}
                    </label>
                  </div>
                }
              </div>
            </div>
          </div>
          <ng-template [ngIf]="BigNumber(incomeDto.earnings!).toNumber() > 0
                                && BigNumber(incomeDto.savings!).toNumber() > 0
                                && BigNumber(incomeDto.earnings!).toNumber() > BigNumber(incomeDto.savings!).toNumber()">
            <div class="row text-center">
              <div class="col">
                <p>
                  <strong>{{ format(subtract(BigNumber(incomeDto.earnings!), BigNumber(incomeDto.savings!))) }}
                    PLN</strong>
                  will go to budget and
                  <strong>{{ BigNumber(incomeDto.savings!) }} PLN</strong> will go to savings.
                </p>
              </div>
            </div>
          </ng-template>
          <div [className]="ModalUtils.displayMarginFor(incomeSurplusSelect)">
            <label for="income-surplus">Status</label>
            <span class="text-danger">*</span>
            <select id="income-surplus"
                    name="income-surplus"
                    class="form-control"
                    [(ngModel)]="incomeDto.isSurplus"
                    required
                    #incomeSurplusSelect="ngModel"
                    [ngClass]="{
                    'is-invalid': incomeSurplusSelect.invalid &&
                      (incomeSurplusSelect.dirty || incomeSurplusSelect.touched),
                    'is-valid': incomeSurplusSelect.valid }">
              <option [ngValue]=false>Is not surplus</option>
              <option [ngValue]=true>Is surplus</option>
            </select>
            @if (incomeSurplusSelect.invalid &&
            (incomeSurplusSelect.dirty || incomeSurplusSelect.touched)) {
              <div class="invalid-feedback">
                <label *ngIf="incomeSurplusSelect.errors?.['required']">
                  {{ formConfig.messages.required }}
                </label>
              </div>
            } @else {
              <div class="valid-feedback">
              </div>
            }
          </div>
          @if (incomeDto.isSurplus) {
            <div class="mb-4">
              <div class="row">
                <div class="col justify-content-center d-flex">
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           id="surplusBudget"
                           name="surplus-type"
                           [value]="false"
                           [(ngModel)]="incomeDto.forSavings"
                           (ngModelChange)="onSurplusTypeChange(incomeWageInput)">
                    <label class="form-check-label" for="surplusBudget">
                      Surplus goes to budget
                      <a #tooltipSurplusBudget="ngbTooltip"
                         class="info-tooltip"
                         [ngbTooltip]="tipSurplusBudgetContent"
                         (click)="tooltipSurplusBudget.open()">
                        <i class="bi bi-info-circle-fill"></i>
                      </a>
                      <ng-template #tipSurplusBudgetContent>
                        <p class="text-start mb-1">
                          Surplus money will be added to budget and increases spend limit.
                        </p>
                      </ng-template>
                    </label>
                  </div>
                </div>
                <div class="col justify-content-center d-flex">
                  <div class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           name="surplus-type"
                           [value]="true"
                           [(ngModel)]="incomeDto.forSavings"
                           (ngModelChange)="onSurplusTypeChange(incomeWageInput)"
                           id="surplusSavings">
                    <label class="form-check-label" for="surplusSavings">
                      Surplus goes to savings
                      <a #tooltipSurplusSavings="ngbTooltip"
                         class="info-tooltip"
                         [ngbTooltip]="tipSurplusSavingsContent"
                         (click)="tooltipSurplusSavings.open()">
                        <i class="bi bi-info-circle-fill"></i>
                      </a>
                      <ng-template #tipSurplusSavingsContent>
                        <p class="text-start mb-1">
                          Surplus money will be added to savings.
                        </p>
                      </ng-template>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          }
          <app-typehead [categoriesDto]="incomeCategoriesDto"
                        [selectedCategoryDto]="assignedCategoryDto"
                        [assignmentComment]="incomeDto.assignmentComment"
                        [isPaymentCategories]="false"
                        [isEditing]="isEditing"
                        [assignmentStatusCode]="assignmentStatusCode"
                        (validationEvent)="onTypeheadChanged($event)"
                        (categoryEvent)="onCategoryChanged($event)">

          </app-typehead>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="!(form.valid && !isChildValid)"
        type="button"
        class="btn btn-outline-secondary mx-3"
        (click)="saveIncomeDraft()">
        Save as draft
      </button>
      <button
        [disabled]="!(form.valid && isChildValid)"
        type="button"
        class="btn btn-outline-secondary"
        (click)="saveIncome()">
        Save
      </button>
    </div>
  </ng-template>
</ng-template>
<app-error-modal #errorModal>
</app-error-modal>
