<div class="mx-auto">
  <form ngbAutofocus #form="ngForm">
    <div class="d-flex align-items-center justify-content-center">
      <label for="orderType">Order by</label>
      <div class="mx-2 my-auto">
        <select type="text"
                id="orderType"
                name="orderType"
                class="form-control"
                [(ngModel)]="selectedOrderBy"
                (change)="onOrderByChanged($event)"
                required>
          @for (orderType of orderTypes; track $index) {
            <option [value]="orderType.name">{{ orderType.name }}</option>
          }
        </select>
      </div>
      @if (this.orderTypes[selectedOrderByIndex].displayDirections) {
        <div class="mx-2 my-auto">
          <select type="text"
                  id="orderOption"
                  name="orderOption"
                  class="form-control"
                  [(ngModel)]="selectedOrderDirection"
                  (change)="onOrderTypeChanged($event)"
                  required>
            @for (orderOption of orderDirections; track $index) {
              <option [value]="orderOption.name">{{ orderOption.name }}</option>
            }
          </select>
        </div>
      }
    </div>
  </form>
</div>
