<div class="height-wrapper width-wrapper">
  <div class="component-wrapper component-bg">
    <ng-template [ngIf]="!isLoaded" [ngIfElse]="loadedBlock">
      <app-spinner [size]="SpinnerSize.BIG"></app-spinner>
    </ng-template>
    <ng-template #loadedBlock>
      <ng-template [ngIf]="errorModel.responseStatusCode == requiredStatusCode" [ngIfElse]="errorBlock">
        <div class="card text-center mb-3">
          <div class="card-body">
            <h3 class="card-title">Budgets</h3>
            <div class="row">
              <div class="col-md-6">
                <label for="date-from">From</label>
                <input id="date-from"
                       type="text"
                       class="form-control"
                       value="{{requestParamModel.fromDate}}"
                       disabled>
              </div>
              <div class="col-md-6">
                <label for="date-to">To</label>
                <input id="date-to"
                       type="text"
                       class="form-control"
                       value="{{requestParamModel.toDate}}"
                       disabled>
              </div>
            </div>
            <div class="budget-button-options mt-3 mb-1 text-center">
              <div class="px-5">
                <button type="button"
                        class="btn btn-success"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Create budget"
                        (click)="budgetModal.open()">
                  <i class="bi bi-box"></i> Create
                </button>
              </div>
              <div class="px-5">
                <button type="button"
                        class="btn btn-success"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Create multiple budgets">
                  <i class="bi bi-boxes"></i> Multiple
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="budget-card-container">
          @for (budget of budgets; track budget.id; ) {
            <div class="card border-dark my-3 budget-card">
              <ng-template [ngIf]="displayBudgetLoader && budget.id == idRefreshBudget"
                           [ngIfElse]="displayBudget">
                <app-spinner-grow></app-spinner-grow>
              </ng-template>
              <ng-template #displayBudget>
                <div class="card-header">
                  <h5>{{ budget.name }}</h5>
                </div>
                <div class="card-body text-dark">
                  <table>
                    <tr>
                      <td>Date start:</td>
                      <td>
                        <input type="text"
                               class="form-control"
                               value="{{DateUtils.format(budget.dateStart)}}"
                               disabled>
                      </td>
                    </tr>
                    <tr>
                      <td>Date end:</td>
                      <td>
                        <input type="text"
                               class="form-control"
                               value="{{DateUtils.format(budget.dateEnd)}}"
                               disabled>
                      </td>
                    </tr>
                  </table>
                  <div class="budget-buttons mt-3 mb-1">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Details"
                            [routerLink]="'/budget'"
                            [queryParams]="{id: budget.id}">
                      <i class="bi bi-clipboard-data-fill"></i>
                    </button>
                    <button type="button"
                            class="btn btn-outline-warning"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Edit budget"
                            (click)="budgetModal.open(budget)">
                      <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button"
                            class="btn btn-outline-danger"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Delete budget"
                            (click)="deleteModal.openWithBudget(budget)">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </div>
                </div>
              </ng-template>
            </div>
          }
        </div>
      </ng-template>
      <app-budget-modal #budgetModal
                        (indexPageEvent)="onPageIndex($event)"
                        (budgetUpdateEvent)="onBudgetUpdate($event)">

      </app-budget-modal>
      <app-delete-modal #deleteModal
                        (indexPageEvent)="onPageIndex($event)">

      </app-delete-modal>
      <ng-template #errorBlock>
        <app-error [errorModel]="errorModel"></app-error>
      </ng-template>
    </ng-template>
  </div>
</div>
