<div class="height-wrapper width-wrapper">
  <div class="component-wrapper component-bg">
    <ng-template [ngIf]="errorModel.responseStatusCode == 200" [ngIfElse]="errorBlock">
      <div class="budget-card-container">
        @for (budget of budgets?.reverse(); track budget.id; ) {
          <div class="card border-dark my-3 budget-card">
            <div class="card-header">{{ budget.name }}</div>
            <div class="card-body text-dark">
              <table>
                <tr>
                  <td style="width: 40%">Date start:</td>
                  <td>
                    <input type="text"
                           class="form-control"
                           value="{{DateUtils.format(budget.dateStart)}}"
                           disabled>
                  </td>
                </tr>
                <tr>
                  <td>Date end:</td>
                  <td>
                    <input type="text"
                           class="form-control"
                           value="{{DateUtils.format(budget.dateEnd)}}"
                           disabled>
                  </td>
                </tr>
              </table>
              <!--              <label for="date-start" class="">Date start:</label>-->
              <!--              <input type="text"-->
              <!--                     id="date-start"-->
              <!--                     class="form-control"-->
              <!--                     value="{{DateUtils.format(budget.dateStart)}}"-->
              <!--                     disabled>-->
              <!--              <label for="date-end">Date end:</label>-->
              <!--              <input type="text"-->
              <!--                     id="date-end"-->
              <!--                     class="form-control"-->
              <!--                     value="{{DateUtils.format(budget.dateEnd)}}"-->
              <!--                     disabled>-->
            </div>
          </div>
        }
      </div>
    </ng-template>
    <ng-template #errorBlock>
      error :(
      <p>{{ errorModel.responseStatusCode }}</p>
    </ng-template>
  </div>
</div>
