<div class="height-wrapper width-wrapper">
  <div class="component-wrapper component-bg">
    <ng-template [ngIf]="!isLoaded" [ngIfElse]="loadedBlock">
      <app-spinner [size]="SpinnerSize.BIG"></app-spinner>
    </ng-template>
    <ng-template #loadedBlock>
      <ng-template [ngIf]="errorModel.responseStatusCode == requiredStatusCode" [ngIfElse]="errorBlock">
        <div class="text-center">
          <h4>Budgets from {{ requestModel.fromDate }} to {{ requestModel.toDate }}</h4>
        </div>
        <div class="budget-card-container">
          @for (budget of budgets; track budget.id; ) {
            <div class="card border-dark my-3 budget-card">
              <div class="card-header">
                <h5>{{ budget.name }}</h5>
              </div>
              <div class="card-body text-dark">
                <table>
                  <tr>
                    <td>Date start:</td>
                    <td>
                      <input type="text"
                             class="form-control"
                             value="{{DateUtils.format(budget.dateStart)}}"
                             disabled>
                    </td>
                  </tr>
                  <tr>
                    <td>Date end:</td>
                    <td>
                      <input type="text"
                             class="form-control"
                             value="{{DateUtils.format(budget.dateEnd)}}"
                             disabled>
                    </td>
                  </tr>
                </table>
                <div class="budget-buttons mt-3 mb-1">
                  <button type="button" class="btn btn-secondary">
                    <i class="bi bi-clipboard-data-fill"></i>
                  </button>
                  <button type="button" class="btn btn-warning">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="bi bi-trash3-fill"></i>
                  </button>
                </div>
              </div>
            </div>
          }
        </div>
      </ng-template>
      <ng-template #errorBlock>
        <app-error [errorModel]="errorModel"></app-error>
      </ng-template>
    </ng-template>
  </div>
</div>
