<ng-template #incomeModal let-modal>
  @if (!displayLoader) {
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        @if (isEditing) {
          Edit income
        } @else {
          Add income
        }
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.close()">
      </button>
    </div>
  }
  <ng-template [ngIf]="displayLoader"
               [ngIfElse]="loadedBody">
    <div class="my-5"></div>
    <app-spinner [size]="SpinnerSize.MEDIUM"></app-spinner>
    <div class="mt-5 text-center">
      <p>Income is saving...</p>
    </div>
    <div class="mb-3"></div>
  </ng-template>
  <ng-template #loadedBody>
    <div class="modal-body">
      <form ngbAutofocus #form="ngForm">
        <div class="col-mx">
          <div class="mb-2">
            <label for="income-name">Name</label>
            <span class="text-danger">*</span>
            <input
              type="text"
              id="income-name"
              name="income-name"
              class="form-control"
              [(ngModel)]="incomeForm.name"
              required
              minlength="3"
              maxlength="150"
              #incomeNameInput="ngModel"
              [ngClass]="{
            'is-invalid':
              incomeNameInput.invalid &&
              (incomeNameInput.dirty || incomeNameInput.touched),
            'is-valid': incomeNameInput.valid }"/>
            @if (incomeNameInput.invalid &&
            (incomeNameInput.dirty || incomeNameInput.touched)) {
              <div class="invalid-feedback">
                <label *ngIf="incomeNameInput.errors?.['required']">
                  Field is required.
                </label>
                <label *ngIf="incomeNameInput.errors?.['minlength']">
                  Minimum length are 3 characters.
                </label>
                <label *ngIf="incomeNameInput.errors?.['maxlength']">
                  Maximum length are 150 characters.
                </label>
              </div>
            } @else if (incomeNameInput.valid) {
              <div class="valid-feedback pb-3">
              </div>
            } @else {
              <div class="pb-4"></div>
            }
          </div>
          <div class="mb-2">
            <label for="income-wage">Wage</label>
            <span class="text-danger">*</span>
            <input
              type="number"
              id="income-wage"
              name="income-wage"
              class="form-control"
              [(ngModel)]="incomeForm.wage"
              required
              min="0"
              #incomeWageInput="ngModel"
              [ngClass]="{
            'is-invalid':
              incomeWageInput.invalid &&
              (incomeWageInput.dirty || incomeWageInput.touched),
            'is-valid': incomeWageInput.valid }"/>
            @if (incomeWageInput.invalid &&
            (incomeWageInput.dirty || incomeWageInput.touched)) {
              <div class="invalid-feedback">
                <label *ngIf="incomeWageInput.errors?.['required']">
                  Field is required.
                </label>
                <label *ngIf="incomeWageInput.errors?.['min']">
                  Minimum value is 0
                </label>
              </div>
            } @else if (incomeWageInput.valid) {
              <div class="valid-feedback pb-3">
              </div>
            } @else {
              <div class="pb-4"></div>
            }
          </div>
          <div class="mb-2">
            <label for="income-surplus">Status</label>
            <span class="text-danger">*</span>
            <select
              id="income-surplus"
              name="income-surplus"
              class="form-control"
              [(ngModel)]="incomeForm.isSurplus"
              required
              #incomeSurplusSelect="ngModel"
              [ngClass]="{
            'is-invalid':
              incomeSurplusSelect.invalid &&
              (incomeSurplusSelect.dirty || incomeSurplusSelect.touched),
            'is-valid': incomeSurplusSelect.valid,
            }">
              <option value=false>Income isn't surplus</option>
              <option value=true>Income is surplus</option>
            </select>
            @if (incomeSurplusSelect.invalid &&
            (incomeSurplusSelect.dirty || incomeSurplusSelect.touched)) {
              <div class="invalid-feedback">
                <label *ngIf="incomeSurplusSelect.errors?.['required']">
                  This field is required.
                </label>
              </div>
            } @else {
              <div class="valid-feedback">
              </div>
            }
          </div>
        </div>
      </form>
      <ng-template [ngIf]="displayError">
        <div class="my-3 mt-4">
          <hr>
        </div>
        <p>Unable process request due to errors.</p>
        <ul>
          <li>
            Status code: <span class="text-danger">{{ errorModel.responseStatusCode }}</span>
          </li>
        </ul>
        @if (errorModel.traceId) {
          <div class="input-group mb-3">
            <input #traceInput
                   type="text"
                   class="form-control text-danger"
                   readonly="readonly"
                   value="{{ errorModel.traceId }}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"
                      type="button"
                      (click)="copy(traceInput)">
                {{ buttonCopyName }}
              </button>
            </div>
          </div>
        }
      </ng-template>
    </div>
    <div class="modal-footer">
      <button
        [disabled]="form.invalid"
        type="button"
        class="btn btn-outline-secondary"
        (click)="saveIncome()">
        Save
      </button>
    </div>
  </ng-template>
</ng-template>
